@using HexaopsNewWebAPP.Entities

@model List<MainFeatures>

 @{
    Layout = null;
} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basit Tablo</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h2>Örnek Tablo</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Big Title</th>
                <th>Big Description</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
             @foreach(var i in Model)
            {

         foreach(var c in i.FeatureAssocs)
         {
            <tr>
                    <td>@i.Id</td>
                    <td>@c.Smalltitle</td>
                     <td>@c.Smalldescription</td> 
                      <td></td> 
                    <td><a href="/admin/Features/@c.Id">Edit</a></td>
                </tr>

         }
                
            }
         
           
        </tbody>
    </table>

</body>
</html>
