@using HexaopsNewWebAPP.Entities.About

@model List<AboutHowWeWork>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basit Tablo</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h2>Örnek Tablo</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Header Title</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Id</td>
                    <td>@i.Title</td>
                    <td>@i.HeaderTitle</td>
                    <td><a href="/admin/HowWeWork/@i.Id">Edit</a></td>
                    <td><a href="/admin/DeleteHowWeWork/@i.Id">Delete</a></td>
                </tr>
            }



        </tbody>
    </table>

</body>
</html>
