<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML Template, site template, seo, marketing, creative, corporate, modern, multipurpose, one page, business, responsive, minimal, saas, startup">
    <meta name="author" content="LiquidThemes">
    <meta name="description" content="Hub is a HTML template with high performance, and award-winning design collection.">
    <meta property="og:title" content="Hub HTML template">
    <meta property="og:description" content="Hub is a HTML template with high performance, and award-winning design collection.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="./assets/images/common/og-image.jpg">

    <link rel="stylesheet" href="~/assets/vendors/liquid-icon/lqd-essentials/lqd-essentials.min.css">
    <link rel="stylesheet" href="~/assets/css/theme.min.css">
    <link rel="stylesheet" href="~/assets/css/utility.min.css">
    <link rel="stylesheet" href="~/assets/css/demo/start-hub-3/base.css">
    <link rel="stylesheet" href="~/assets/css/demo/start-hub-3/start-hub-3.css">



    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Rubik:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/demo/start-hub-3/favicon.png">
    <title>HEXAOPS TECHNOLOGY</title>

    


    <script>
        function showPopup() {
            var popup = document.getElementById('popup-content');
            popup.style.display = 'block';
        }

        function hidePopup() {
            var popup = document.getElementById('popup-content');
            popup.style.display = 'none';
        }
    </script>

    <style>
        #popup-content {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #ffffff;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            z-index: 9999;
            display: none; /* Başlangıçta görünmez */
            max-width: 80%; /* Pop-up penceresinin maksimum genişliği */
        }

            #popup-content h2 {
                font-size: 24px;
                margin-bottom: 10px;
            }

            #popup-content p {
                font-size: 16px;
                margin-bottom: 15px;
            }

            #popup-content button {
                background-color: #007bff;
                color: #ffffff;
                border: none;
                padding: 10px 20px;
                cursor: pointer;
                font-size: 16px;
            }

                #popup-content button:hover {
                    background-color: #0056b3;
                }

    </style>
    
    
</head>
<body data-lqd-cc="t-nav-breakpoint="1199" data-mobile-nav-style="minimal" data-mobile-nav-scheme="gray" data-mobile-nav-trigger-alignment="right" data-mobile-header-scheme="light" data-mobile-logo-alignment="default" data-overlay-onmobile="false" data-disable-animations-onmobile="true">
    <div id="wrap" class="bg-white">
        <div class="lqd-sticky-placeholder hidden"></div>
        <header id="site-header" class="--header" data-sticky-header="true" data-sticky-values-measured="false">
            <section class="lqd-section lqd-hide-onstuck bg-no-repeat bg-top-right bg-darkpurple transition-all pt-10 md:hidden" style="background-image: url('./assets/images/demo/start-hub-3/shape-header-ball1.png');">
                <div class="flex items-center justify-center">
                    <div class="rounded-4 mr-20 ld-fancy-heading relative bg-pink-100">
                       @*  <p class="ld-fh-element relative text-black text-11 px-10 font-medium m-0"></p> *@
                    </div>
                    <div class="ld-fancy-heading relative">
                        <p class="ld-fh-element relative text-13 font-medium leading-1em mr-10 mb-0 text-white-60"></p>
                    </div>
                    <a href="#" class="btn-underlined border-thin text-13 font-medium leading-1em text-white">
                        <span class="btn-txt" data-text="Join Hub"></span>
                    </a>
                </div>
                <div class="bg-white mt-10 border-bottom border-black-10 rounded-25 rounded-bottom-0 transition-all">
                    <div class="w-full flex justify-between items-center">
                        <div class="w-50percent flex items-center justify-start p-10">
                            <div class="lqd-fancy-menu lqd-custom-menu relative lqd-menu-td-none ml-30 link-13 transition-opacity link-black">
                                <ul class="reset-ul inline-ul">
                                    <li class="mr-10 mb-10">
                                        <a href="#" onclick="showPopup()" class="tracking-0/1 leading-16 gizlilikpolitika"><span class="link-icon inline-flex hide-if-empty left-icon icon-next-to-label"></span> Gizlilik Politikası </a>
                                    </li>
                                    <li>
                                        <a href="#footermap" class="tracking-0/1 leading-16"><span class="link-icon inline-flex hide-if-empty left-icon icon-next-to-label"></span> İletişim </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-50percent flex items-center justify-end p-10">
                            <div class="flex justify-end">
                                <div class="flex gap-25 mr-30 text-center w-auto">



                                    @* POP-UP GİZLİLİK POLİTİKASI *@

                                    <div id="popup-content" style="display: none;">
                                        <h2>Gizlilik Politikası</h2>
                                        <p>
                                            Son güncellenme: 15/02/2024 <br />

                                            Güvenliğiniz bizim için önemli. Bu sebeple bizimle paylaşacağınız kişisel verileriz hassasiyetle korunmaktadır.

                                            Biz, Hexaops, veri sorumlusu olarak, bu gizlilik ve kişisel verilerin korunması politikası ile, hangi kişisel verilerinizin hangi amaçla işleneceği, işlenen verilerin kimlerle ve neden paylaşılabileceği, veri işleme yöntemimiz ve hukuki sebeplerimiz ile; işlenen verilerinize ilişkin haklarınızın neler olduğu hususunda sizleri aydınlatmayı amaçlıyoruz.

                                            Toplanan Kişisel Verileriniz, Toplanma Yöntemi ve Hukuki Sebebi
                                            IP adresiniz ve kullanıcı aracısı bilgileriniz, sadece analiz yapmak amacıyla ve çerezler (cookies) vb. teknolojiler vasıtasıyla, otomatik veya otomatik olmayan yöntemlerle ve bazen de analitik sağlayıcılar, reklam ağları, arama bilgi sağlayıcıları, teknoloji sağlayıcıları gibi üçüncü taraflardan elde edilerek, kaydedilerek, depolanarak ve güncellenerek, aramızdaki hizmet ve sözleşme ilişkisi çerçevesinde ve süresince, meşru menfaat işleme şartına dayanılarak işlenecektir.

                                            Kişisel Verilerinizin İşlenme Amacı
                                            Bizimle paylaştığınız kişisel verileriniz sadece analiz yapmak suretiyle; sunduğumuz hizmetlerin gerekliliklerini en iyi şekilde yerine getirebilmek, bu hizmetlere sizin tarafınızdan ulaşılabilmesini ve maksimum düzeyde faydalanılabilmesini sağlamak, hizmetlerimizi, ihtiyaçlarınız doğrultusunda geliştirebilmek ve sizleri daha geniş kapsamlı hizmet sağlayıcıları ile yasal çerçeveler içerisinde buluşturabilmek ve kanundan doğan zorunlulukların (kişisel verilerin talep halinde adli ve idari makamlarla paylaşılması) yerine getirilebilmesi amacıyla, sözleşme ve hizmet süresince, amacına uygun ve ölçülü bir şekilde işlenecek ve güncellenecektir.

                                            Toplanan Kişisel Verilerin Kimlere ve Hangi Amaçlarla Aktarılabileceği
                                            Bizimle paylaştığınız kişisel verileriniz; faaliyetlerimizi yürütmek üzere hizmet aldığımız ve/veya verdiğimiz, sözleşmesel ilişki içerisinde bulunduğumuz, iş birliği yaptığımız, yurt içi ve yurt dışındaki 3. şahıslar ile kurum ve kuruluşlara ve talep halinde adli ve idari makamlara, gerekli teknik ve idari önlemler alınması koşulu ile aktarılabilecektir.

                                            Kişisel Verileri İşlenen Kişi Olarak Haklarınız
                                            KVKK madde 11 uyarınca herkes, veri sorumlusuna başvurarak aşağıdaki haklarını kullanabilir:

                                            Kişisel veri işlenip işlenmediğini öğrenme,
                                            Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
                                            Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
                                            Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
                                            Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,
                                            Kişisel verilerin silinmesini veya yok edilmesini isteme,
                                            (e) ve (f) bentleri uyarınca yapılan işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                                            İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
                                            Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme, haklarına sahiptir.
                                            Yukarıda sayılan haklarınızı kullanmak üzere info@hexaops.net üzerinden bizimle iletişime geçebilirsiniz.

                                            İletişim
                                            Sizlere hizmet sunabilmek amaçlı analizler yapabilmek için, sadece gerekli olan kişisel verilerinizin, işbu gizlilik ve kişisel verilerin işlenmesi politikası uyarınca işlenmesini, kabul edip etmemek hususunda tamamen özgürsünüz. Siteyi kullanmaya devam ettiğiniz takdirde kabul etmiş olduğunuz tarafımızca varsayılacak olup, daha ayrıntılı bilgi için bizimle info@hexaops.net e-mail adresi üzerinden iletişime geçmekten lütfen çekinmeyiniz.
                                        </p>
                                        <button onclick="hidePopup()">Kapat</button>
                                    </div>





                                    <div style="justify-content:center">
                                        <a href="https://www.instagram.com/hexaops/" target="blank"><img width="40" class"logo-default" src="~/assets/images/demo/start--3/instagrammm.png" alt="instagram"></a>

                                        <a href="https://tr.linkedin.com/company/hexaops" target="blank"><img width="30" class"logo-default" src="~/assets/images/demo/start-hub-3/linkedlnnn.png" alt="linkedln"></a>

                                        <a href="https://www.youtube.com/channel/UChml0Cztq6JlRN5OmvzS9hg" target="blank"><img width="45" class"logo-default" src="~/assets/images/demo/start-hub-3/youtubeee.png" alt="youtube"></a>

                                        <a href="https://github.com/hexaops-git" target="blank"><img width="40" class"logo-default" src="~/assets/images/demo/start-hub-3/githubbb.png" alt="github"></a>

                                    </div>
                                   



                                    
                                   
                                        
                                       
                                     

                                   
                                            
                                    

                                   
                                   
                                </div>
                                <div class="ld-dropdown-menu flex relative mr-30 link-15 link-black" role="menubar">
                                    <span class="ld-module-trigger text-black" role="button" data-ld-toggle="true" data-bs-toggle="collapse" data-bs-target="#dropdown-language" aria-controls="dropdown-language" aria-expanded="false" data-toggle-options='{ "type":  "hoverFade"}'>
                                       <img width="40" class"logo-default" src="~/assets/images/demo/start-hub-3/ingilizce.png" alt="ingilizce">                                       
                                       <span class="text-13 ld-module-trigger-txt">🇺🇸 English <i class="lqd-icn-ess icon-ion-ios-arrow-down"></i></span>
                                    </span>
                                    <div class="link-16 ld-module-dropdown left collapse absolute" id="dropdown-language" aria-expanded="false" role="menuitem">
                                        <div class="ld-dropdown-menu-content">
                                            
                                     
                                                <ul>
                                              
                                                    <li>
                                                    <img width="30" 
                                                        
                                                        src="~/assets/images/demo/start-hub-3/almanca.png" alt="almanca">
                                                        <a href="#" target="_blank">Almanca</a>
                                                        </li>
                                                  
                                                    
                                                   <li>
                                                    <img width="30" class="logo-default" src="~/assets/images/demo/start-hub-3/Fransizca.png" alt="fransızca">
                                                        <a href="#" target="_blank">Fransızca</a>
                                                    </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="lqd-section bg-white border-bottom border-black-10 transition-all px-20 md:hidden">
                <div class="container-fluid p-0">
                    <div class="flex flex-wrap justify-between link-medium">
                        <div class="pl-15 py-25 module-logo flex navbar-brand-plain w-20percent">
                            <a class="navbar-brand flex p-0 relative" href="/" rel="home">
                                <span class="navbar-brand-inner post-rel">
                                    <img width="171" class="logo-default" src="~/assets/images/demo/start-hub-3/hexaops-llc-logo.png" alt="hexaops">
                                </span>
                            </a>
                        </div>
                        <div class="flex items-center justify-end w-80percent">
                            <div class="module-primary-nav flex">
                                <div class="navbar-collapse inline-flex p-0 lqd-submenu-default-style link-14 mr-110 link-medium" id="main-header-collapse" aria-expanded="false" role="navigation">
                                    <ul  class="main-nav flex reset-ul inline-ul lqd-menu-counter-right lqd-menu-items-inline main-nav-hover-fade-inactive" data-submenu-options='{"toggleType": "fade", "handler": "mouse-in-out"}' data-localscroll="true" data-localscroll="true" data-localscroll-options='{"itemsSelector":"> li > a", "trackWindowScroll": true, "includeParentAsOffset": true}'>
                                        <li class="menu-item-has-children">
                                            <a class="text-blue-600" href="#hizmetlerimiz">
                                                <span style="font-size:30px">Hizmetler</span>
                                                <span class="submenu-expander bg-transparent">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="32" viewbox="0 0 21 32" style="width: 1em; height: 1em;">
                                                        <path fill="currentColor" d="M10.5 18.375l7.938-7.938c.562-.562 1.562-.562 2.125 0s.562 1.563 0 2.126l-9 9c-.563.562-1.5.625-2.063.062L.437 12.562C.126 12.25 0 11.876 0 11.5s.125-.75.438-1.063c.562-.562 1.562-.562 2.124 0z"></path>
                                                    </svg>
                                                </span>
                                                <span class="link-icon inline-flex hide-if-empty right-icon">
                                                    <i class="lqd-icn-ess icon-ion-ios-arrow-down"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a style="font-size:30px" class="text-blue-600" href="#payments">Yetkinlik<span class="link-badge text-badge">%</span></a>
                                        </li>
                                        <li>
                                            <a style="font-size:30px" class="text-blue-600" href="/hakkinda">
                                                Hakkımızda
                                                <span class="link-icon inline-flex hide-if-empty right-icon">
                                                    <i class="lqd-icn-ess icon-ion-ios-arrow-down"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a style="font-size:30px" class="text-blue-600" href="#testimonials">Yorumlar</a>
                                        </li>
                                        <li >
                                            <a style="font-size:30px" class="text-blue-600" href="#faq">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#footermap" class="btn btn-solid btn-sm btn-hover-txt-switch-change btn-hover-txt-switch btn-hover-txt-switch-y btn-icon-right text-13 rounded-4 text-white bg-primary" data-localscroll="true" style="width: 300px; font-size:20px">
                                <span  class="btn-txt" data-text="İletişim" data-split-text="true" data-split-options='{"type": "chars, words"}'> İletişim </span>
                                <span class="btn-icon text-1/5em -rotate-45" style="border-left: 50px">
                                    <i aria-hidden="true" class="lqd-icn-ess icon-ion-ios-arrow-round-forward"></i>
                                </span>
                            </a> 
                        </div>
                    </div>
                </div>
            </section>
            <section class="lqd-section lqd-stickybar-wrap lqd-stickybar-left pointer-events-none md:hidden">
                <div class="w-full h-full static flex flex-grow-1 vertical-lr">
                    <div class="w-full static flex flex-grow-1">
                        <div class="w-full static flex flex-grow-1 flex-col p-10">
                            <div class="w-full static flex items-center justify-center -rotate-180">
                                <div class="w-auto">
                                    <a href="#download" class="btn btn-underlined border-thin box-shadow-none pointer-events-auto horizontal-tb rotate-90 font-medium text-14 leading-1/6em text-black" data-lqd-interactive-color="true" data-localscroll="true">
                                        <span class="btn-txt" data-text="Download Hub App">Aşağı</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="lqd-section lqd-stickybar-wrap lqd-stickybar-right pointer-events-none md:hidden">
                <div class="flex items-center justify-center w-full h-full flex-grow-1 vertical-lr -rotate-180">
                    <div class="lqd-scrl-indc flex whitespace-nowrap lqd-scrl-indc-style-dot" data-lqd-scroll-indicator="true">
                        <a class="pointer-events-auto text-black" href="#wrap" data-localscroll="true" data-lqd-interactive-color="true">
                            <span class="lqd-scrl-indc-inner flex items-center text-inherit">
                                <span class="lqd-scrl-indc-txt">Yukarı</span>
                                <span class="lqd-scrl-indc-line w-1 h-60 relative text-inherit bg-black-30">
                                    <span class="lqd-scrl-indc-el absolute -top-5 -left-5 rounded-8 inline-block w-10 h-10 bg-current-color"></span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </section>
            <div class="lqd-mobile-sec relative">
                <div class="bg-white lqd-mobile-sec-inner navbar-header flex items-stretch w-full">
                    <div class="lqd-mobile-modules-container empty"></div>
                    <button type="button" class="navbar-toggle collapsed nav-trigger style-mobile flex relative items-center justify-end p-0 bg-transparent border-none text-13" data-ld-toggle="true" data-bs-toggle="collapse" data-bs-target="#lqd-mobile-sec-nav" aria-expanded="false" data-toggle-options='{ "changeClassnames":  {"html":  "mobile-nav-activated"} }'>
                        <span class="sr-only">Menu</span>
                        <span class="bars inline-block relative z-1">
                            <span class="bars-inner flex flex-col w-full h-full">
                                <span class="bar inline-block"></span>
                                <span class="bar inline-block"></span>
                                <span class="bar inline-block"></span>
                            </span>
                        </span>
                    </button>
                    <a class="navbar-brand flex relative" href="./index-start-hub-3.html">
                        <span class="navbar-brand-inner">
                            <img width="171" class="logo-default" src="./assets/images/demo/start-hub-3/hexaops-llc-logo.png" alt="hexaops">
                        </span>
                    </a>
                </div>
                <div class="lqd-mobile-sec-nav w-full absolute z-10">
                    <div class="mobile-navbar-collapse navbar-collapse collapse w-full" id="lqd-mobile-sec-nav" aria-expanded="false" role="navigation">
                        <ul id="mobile-primary-nav" class="reset-ul lqd-mobile-main-nav main-nav nav" data-localscroll="true" data-localscroll-options='{"itemsSelector":"> li > a", "trackWindowScroll": true, "includeParentAsOffset": true}'>
                            <li class="menu-item-has-children">
                                <a >
                                    <span >Hizmetler</span>
                                    <span class="submenu-expander absolute"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#payments">Yetkinlik<span class="link-badge text-badge">%</span></a>
                            </li>
                            <li>
                                <a href="/hakkinda">
                                    Hakkımızda
                                    <span class="link-icon inline-flex hide-if-empty right-icon">
                                        <i class="lqd-icn-ess icon-ion-ios-arrow-down"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#testimonials">Yorumlar</a>
                            </li>
                            <li>
                                <a href="#faq">SSS</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        <footer id="site-footer" class="main-footer bg-transparent text-white" style="background-image: linear-gradient(120deg, #323945 78%, #514A65 100%);">
            <div class="transition-all bg-cover pt-120 pb-70 module-bg" style="background-image: url('./assets/images/demo/start-hub-3/footer-bg-shapes.svg');">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 p-0">
                            <section class="lqd-section footer-content flex flex-wrap items-start">
                                <div class="w-50percent flex p-10 lg:w-full" data-custom-animations="true" data-ca-options='{"animationTarget": ".animation-element", "ease": "power4.out", "initValues": {"y": "35px", "opacity" : 0} , "animations": {"y": "0px", "opacity" : 1}}'>
                                    <div class="w-full flex flex-col mr-60 sm:mr-0">
                                        <div class="ld-fancy-heading relative animation-element">
                                            <h2 class="text-46 leading-1em mb-60 tracking-0 text-white ld-fh-element relative lqd-highlight-custom lqd-highlight-custom-2" data-inview="true" data-transition-delay="true" data-delay-options=' {"elements": ".lqd-highlight-inner", "delayType": "transition"}'>
                                                <span>Hexaops: Her Şey </span>
                                                <mark class="lqd-highlight">
                                                    <span class="lqd-highlight-txt">Mümkün</span>
                                                    <span class="left-0 -bottom-20 lqd-highlight-inner">
                                                        <svg class="lqd-highlight-pen" width="51" height="51" viewbox="0 0 51 51" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M36.204 1.044C32.02 2.814 5.66 31.155 4.514 35.116c-.632 2.182-1.75 5.516-2.483 7.409-3.024 7.805-1.54 9.29 6.265 6.265 1.893-.733 5.227-1.848 7.41-2.477 3.834-1.105 4.473-1.647 19.175-16.27 0 0 10.63-10.546 15.21-15.125C53 8.997 42.021-1.418 36.203 1.044Zm7.263 5.369c3.56 3.28 4.114 4.749 2.643 6.995l-1.115 1.7-4.586-4.543-4.585-4.544 1.42-1.157C39.311 3.18 40.2 3.4 43.467 6.413ZM37.863 13.3l4.266 4.304-11.547 11.561-11.547 11.561-4.48-4.446-4.481-4.447 11.404-11.418c6.273-6.28 11.566-11.42 11.762-11.42.197 0 2.277 1.938 4.623 4.305ZM12.016 39.03l3.54 3.584-3.562 1.098-5.316 1.641c-1.665.516-1.727.455-1.211-1.21l1.614-5.226c1.289-4.177.685-4.191 4.935.113Z"></path>
                                                        </svg>
                                                        <svg class="lqd-highlight-brush-svg lqd-highlight-brush-svg-2" width="233" height="13" viewbox="0 0 233 13" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveaspectratio="none">
                                                            <path d="m.624 9.414-.312-2.48C0 4.454.001 4.454.002 4.454l.035-.005.102-.013.398-.047c.351-.042.872-.102 1.557-.179 1.37-.152 3.401-.368 6.05-.622C13.44 3.081 21.212 2.42 31.13 1.804 50.966.572 79.394-.48 113.797.24c34.387.717 63.927 2.663 84.874 4.429a1048.61 1048.61 0 0 1 24.513 2.34 641.605 641.605 0 0 1 8.243.944l.432.054.149.02-.318 2.479-.319 2.48-.137-.018c-.094-.012-.234-.03-.421-.052a634.593 634.593 0 0 0-8.167-.936 1043.26 1043.26 0 0 0-24.395-2.329c-20.864-1.76-50.296-3.697-84.558-4.413-34.246-.714-62.535.332-82.253 1.556-9.859.612-17.574 1.269-22.82 1.772-2.622.251-4.627.464-5.973.614a213.493 213.493 0 0 0-1.901.22l-.094.01-.028.004Z" fill="#49C193"></path>
                                                        </svg>
                                                    </span>
                                                </mark>
                                            </h2>
                                        </div>
                                        <a href="#contact-modal" class="btn btn-solid btn-hover-txt-liquid-y btn-custom-size btn-icon-right btn-hover-swp bg-white text-accent rounded-6 text-13 w-240 h-55 animation-element" data-lity="#contact-modal">
                                            <span class="btn-txt" data-text="Join the Community" data-split-text="true" data-split-options='{"type":  "chars, words"}'>Topluluğa Katılın</span>
                                            <span class="btn-icon tex-18">
                                                <i aria-hidden="true" class="lqd-icn-ess icon-md-arrow-forward"></i>
                                            </span>
                                            <span class="btn-icon mr-10 tex-18">
                                                <i aria-hidden="true" class="lqd-icn-ess icon-md-arrow-forward"></i>
                                            </span>
                                        </a>
                                        <div class="w-full flex items-center justify-between mt-40">
                                            <div class="lqd-imggrp-single flex flex-grow-1 relative w-33percent sm:justify-start">
                                                <div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
                                                    <figure class="w-full relative animation-element">
                                                        <img width="101" height="30" src="./assets/images/demo/start-hub-3/client-spotify-2.svg" alt="footer clients">
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="lqd-imggrp-single flex flex-grow-1 relative w-33percent sm:justify-center">
                                                <div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
                                                    <figure class="w-full relative animation-element">
                                                        <img width="60" height="21" src="./assets/images/demo/start-hub-3/client-nike-3.svg" alt="footer clients">
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="lqd-imggrp-single flex flex-grow-1 relative w-33percent sm:justify-end">
                                                <div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
                                                    <figure class="w-full relative animation-element">
                                                        <img width="69" height="16" src="./assets/images/demo/start-hub-3/client-amd-logo-3.svg" alt="footer clients">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-50percent flex flex-col p-10 lg:w-full module-last">
                                    <div class="flex flex-wrap flex-col ml-200 lg:ml-0">
                                        <div data-custom-animations="true" data-ca-options='{"animationTarget": ".iconbox", "startDelay" : 1000, "ease": "power4.out", "initValues": {"opacity" : 0} , "animations": {"opacity" : 1}}'>
                                            <div class="iconbox flex flex-grow-1 relative flex-wrap items-center iconbox-inline iconbox-square mb-10 text-start">
                                                <div class="iconbox-icon-wrap mr-15">
                                                    <div class="iconbox-icon-container inline-flex relative z-1 w-45 h-45 text-18 rounded-6 text-white module-icon-bg-1">
                                                        <i aria-hidden="true" class="text-white-20 lqd-icn-ess icon-ion-ios-checkmark"></i>
                                                    </div>
                                                </div>
                                                <h3 class="lqd-iconbox-heading text-17 font-medium leading-30 tracking-0 m-0 text-white-20">Takip edin, yükseltin ve raporlayın. </h3>
                                            </div>
                                        </div>
                                        <div data-custom-animations="true" data-ca-options='{"animationTarget": ".iconbox", "startDelay" : 700, "ease": "power4.out", "initValues": {"opacity" : 0} , "animations": {"opacity" : 1}}'>
                                            <div class="iconbox flex flex-grow-1 relative flex-wrap items-center iconbox-inline iconbox-square mb-10 text-start">
                                                <div class="iconbox-icon-wrap mr-15">
                                                    <div class="iconbox-icon-container inline-flex relative z-1 w-45 h-45 text-18 rounded-6 text-white module-icon-bg-2">
                                                        <i aria-hidden="true" class="text-white-50 lqd-icn-ess icon-ion-ios-checkmark"></i>
                                                    </div>
                                                </div>
                                                <h3 class="lqd-iconbox-heading text-17 font-medium leading-30 tracking-0 m-0 text-white-50">Gerçek Zamanlı Veri Analitiği. </h3>
                                            </div>
                                        </div>
                                        <div data-custom-animations="true" data-ca-options='{"animationTarget": ".iconbox", "startDelay" : 300, "ease": "power4.out", "initValues": {"opacity" : 0} , "animations": {"opacity" : 1}}'>
                                            <div class="iconbox flex flex-grow-1 relative flex-wrap items-center iconbox-inline iconbox-square mb-10 text-start">
                                                <div class="iconbox-icon-wrap mr-15">
                                                    <div class="iconbox-icon-container inline-flex relative z-1 w-45 h-45 text-18 rounded-6 text-white module-icon-bg-3">
                                                        <i aria-hidden="true" class="text-white lqd-icn-ess icon-ion-ios-checkmark"></i>
                                                    </div>
                                                </div>
                                                <h3 class="lqd-iconbox-heading text-17 font-medium leading-30 tracking-0 m-0 text-white">Güvenli çevrimiçi bitcoin ödemeleri. </h3>
                                            </div>
                                        </div>
                                        <div data-custom-animations="true" data-ca-options='{"animationTarget": ".iconbox", "startDelay" : 700, "ease": "power4.out", "initValues": {"opacity" : 0} , "animations": {"opacity" : 1}}'>
                                            <div class="iconbox flex flex-grow-1 relative flex-wrap items-center iconbox-inline iconbox-square mb-10 text-start">
                                                <div class="iconbox-icon-wrap mr-15">
                                                    <div class="iconbox-icon-container inline-flex relative z-1 w-45 h-45 text-18 rounded-6 text-white module-icon-bg-4">
                                                        <i aria-hidden="true" class="text-white-50 lqd-icn-ess icon-ion-ios-checkmark"></i>
                                                    </div>
                                                </div>
                                                <h3 class="lqd-iconbox-heading text-17 font-medium leading-30 tracking-0 m-0 text-white-50">İşletmeler için uçtan uca şifreleme. </h3>
                                            </div>
                                        </div>
                                        <div data-custom-animations="true" data-ca-options='{"animationTarget": ".iconbox", "startDelay" : 1000, "ease": "power4.out", "initValues": {"opacity" : 0} , "animations": {"opacity" : 1}}'>
                                            <div class="iconbox flex flex-grow-1 relative flex-wrap items-center iconbox-inline iconbox-square mb-10 text-start">
                                                <div class="iconbox-icon-wrap mr-15">
                                                    <div class="iconbox-icon-container inline-flex relative z-1 w-45 h-45 text-18 rounded-6 text-white module-icon-bg-5">
                                                        <i aria-hidden="true" class="text-white-20 lqd-icn-ess icon-ion-ios-checkmark"></i>
                                                    </div>
                                                </div>
                                                <h3 class="lqd-iconbox-heading text-17 font-medium leading-30 tracking-0 m-0 text-white-20">Kullanışlı mobilite çözümleri. </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="lqd-section footer-line flex flex-wrap items-center border-bottom border-white-10 transition-all pt-30 pb-10">
                                <div class="w-full flex flex-col p-10">
                                    <div class="ld-fancy-heading relative">
                                        <p class="text-14 font-semibold text-text ld-fh-element mb-0/5em inline-block relative">Tarafından güvenilen </p>
                                    </div>
                                </div>
                            </section>
                            <section class="lqd-section footer-menu flex flex-wrap items-start pt-50" data-custom-animations="true" data-ca-options='{"animationTarget": ".animation-element", "ease": "power4.out", "initValues": {"y": "35px", "opacity" : 0} , "animations": {"y": "0px", "opacity" : 1}}'>
                                <div class="w-25percent flex flex-col p-10 lg:w-33percent sm:w-50percent animation-element">
                                    <div class="ld-fancy-heading relative">
                                        <h5 class="text-10 uppercase tracking-1 text-white-50 mb-4em ld-fh-element relative">ŞİRKETİMİZ</h5>
                                    </div>
                                    <div class="link-15 link-white-80 lqd-fancy-menu lqd-custom-menu relative lqd-menu-td-none">
                                        <ul class="reset-ul" id="3e8baa6">
                                            <li class="mb-10">
                                                <a href="#">
                                                    <span class="link-icon inline-flex hide-if-empty left-icon icon-next-to-label"></span>
                                                    <span>Bize Ulaşın</span>
                                                </a>
                                            </li>
                                            <li class="mb-10">
                                                <a href="#">
                                                    <span class="link-icon inline-flex hide-if-empty left-icon icon-next-to-label"></span>
                                                    <span>Sıkça Sorulan Sorular</span>
                                                </a>
                                            </li>
                                            <li class="mb-10">
                                                <a href="#">
                                                    <span class="link-icon inline-flex hide-if-empty left-icon icon-next-to-label"></span>
                                                    <span>Hata Bildir</span>
                                                </a>
                                            </li>
                                            <li class="mb-10">
                                                <a href="#">
                                                    <span class="link-icon inline-flex hide-if-empty left-icon icon-next-to-label"></span>
                                                    <span>Kariyer</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="link-icon inline-flex hide-if-empty left-icon icon-next-to-label"></span>
                                                    <span>Hakkımızda</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="w-20percent flex flex-col p-10 lg:w-33percent sm:w-50percent animation-element">
                                    <div class="ld-fancy-heading relative">
                                        <h5 class="text-10 uppercase tracking-1 text-white-50 mb-4em ld-fh-element relative">DESTEK</h5>
                                    </div>
                                    <div class="link-15 link-white-80 lqd-fancy-menu lqd-custom-menu relative lqd-menu-td-none">
                                        <ul class="reset-ul">
                                            @* <li class="mb-10">
                                                <a href="#">
                                                    <span class="link-icon inline-flex hide-if-empty left-icon icon-next-to-label"></span>
                                                    <span>Mağaza İçi Alışveriş</span>
                                                </a>
                                            </li> *@
                                            <li class="mb-10">
                                                <a href="#">
                                                    <span class="link-icon inline-flex hide-if-empty left-icon icon-next-to-label"></span>
                                                    <span>Markalar</span>
                                                </a>
                                            </li>
                                           @*  <li class="mb-10">
                                                <a href="#">
                                                    <span class="link-icon inline-flex hide-if-empty left-icon icon-next-to-label"></span>
                                                    <span>Hediye Kartları</span>
                                                </a>
                                            </li> *@
                                            <li>
                                                <a href="#">
                                                    <span class="link-icon inline-flex hide-if-empty left-icon icon-next-to-label"></span>
                                                    <span>Kariyer</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="w-20percent flex flex-col p-10 lg:w-33percent sm:w-full module-third animation-element">
                                    <div class="ld-fancy-heading relative">
                                        <h5 class="text-10 uppercase tracking-1 text-white-50 mb-4em ld-fh-element relative">YARDIMA İHTİYACINIZ VAR MI?</h5>
                                    </div>
                                    <div class="ld-fancy-heading relative">
                                        <h6 class="text-9 uppercase tracking-1 ld-fh-element mb-0/5em inline-block relative text-slate-200">BİZİ DOĞRUDAN ARAYIN.</h6>
                                    </div>
                                    <div class="ld-fancy-heading relative">
                                        <p class="text-18 font-medium mb-1/75em text-white ld-fh-element relative"> <a id="whatsapp-link" style="color:rgba(255,255,255,.8)" href="https://wa.me/+905076758399">+90 507 675 8399</a>  </p>
                                    </div>
                                    <div class="ld-fancy-heading relative">
                                        <h6 class="text-9 uppercase tracking-1 ld-fh-element mb-0/5em inline-block relative text-slate-200">BİZİ DOĞRUDAN ARAYIN</h6>
                                    </div>
                                    <div class="ld-fancy-heading relative">
                                        <p class="text-18 font-medium mb-1/75em ld-fh-element relative">  <a style="color:rgba(255,255,255,.8)" href="mailto:info@hexaops.net">info@hexaops.net</a> </p>
                                    </div>
                                </div>
                                <div class="w-35percent flex flex-col p-10 lg:w-full module-last animation-element">
                                    <div class="ld-fancy-heading relative">
                                        <h5 class="text-10 uppercase tracking-1 text-white-50 mb-4em ld-fh-element relative" id="footermap"> İLETİŞİMDE KALIN  </h5>
                                    </div>
                                    <div class="ld-sf relative ld-sf--input-solid ld-sf--button-solid ld-sf--button-eql ld-sf--size-sm ld-sf--circle ld-sf--border-none ld-sf--button-show ld-sf--button-inside button-shrinked">
                                        <form class="relative" method="post" action="#">
                                            <p class="relative">
                                                <input type="email" class="text-14 w-full bg-black-20 text-white" name="email" placeholder="E-posta adresinizi girin">
                                            </p>
                                            <button type="submit" class="inline-flex items-center justify-center m-0 relative text-13 bg-blue-500">
                                                <span class="submit-icon text-24">
                                                    <i class="lqd-icn-ess icon-ion-ios-arrow-round-forward text-24"></i>
                                                </span>
                                                <span class="ld-sf-spinner rounded-full absolute overflow-hidden">
                                                    <span class="block lqd-overlay flex rounded-full">Sending </span>
                                                    
                                                </span>
                                            </button>
                                        </form>
                                        <div class="gmaps" style="padding:20px"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d790.3606714069753!2d36.82513562843534!3d37.591739160906386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2c0fcae02c43340d%3A0x99dfe94fe25145c9!2sHEXAOPS%20LLC!5e0!3m2!1str!2str!4v1707749646724!5m2!1str!2str" width="370" height="210" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                                    </div>
                                </div>
                            </section>
                            <section class="lqd-section footer-info flex flex-wrap items-center justify-between pt-70" data-custom-animations="true" data-ca-options='{"animationTarget": ".animation-element", "ease": "power4.out", "initValues": {"y": "35px", "opacity" : 0} , "animations": {"y": "0px", "opacity" : 1}}'>
                                <div class="w-20percent flex justify-start p-10 lg:w-full lg:justify-start animation-element">
                                    <div class="mr-35 lqd-imggrp-single block relative">
                                        <div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
                                            <figure class="w-full relative">
                                                
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="lqd-fancy-menu lqd-custom-menu relative lqd-menu-td-none">
                                        <ul class="reset-ul inline-ul">
                                            <li>
                                             
                                                <a href="" style="color:rgba(255,255,255,.8)">
                                                    <img src="./assets/images/demo/start-hub-3/hexaopslogo.png" alt="hexaops foother logo" style="max-width: 85%; height: auto; margin-right: 10px; /* justify-content:center; align-items:center */">
                                                   @*  <p1 style="font-size: 18px;padding-left: 20px;">Türkçe/TR</p1> *@
                                                </a>
                                           
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="w-80percent flex flex-wrap p-10 lg:w-full animation-element" >
                                    <div class="ld-fancy-heading relative text-center w-80percent lg:w-full lg:text-start module-copyright">
                                        <p class="text-14 leading-1em font-normal text-white-70 ld-fh-element mb-0/5em inline-block relative" style="max-width:100%; margin-bottom:70px ; max-width: 100%;  font-size: 12px;">©2020-2024 | Bu sitenin tüm hakları <a href="/" style="color:rgba(255,255,255,.7) ; ">HEXAOPS</a> tarafından saklıdır</p>
                                    </div>
                                    <div class="flex  justify-end module-social w-20percent lg:justify-start lg:order-first" >


                                        <a href="https://www.instagram.com/hexaops/" target="blank" >
                                            <img style="width:25000px;" class="logo-default" src="~/assets/images/demo/start-hub-3/instagrammm.png" alt="instagram">
                                        </a>
                                        

                                        <a href="https://tr.linkedin.com/company/hexaops" target="blank">
                                            <img style="width:20000px;" class="logo-default" src="~/assets/images/demo/start-hub-3/linkedlnnn.png" alt="linkedln" >

                                           </a>      
                                       

                                        <a href="https://www.youtube.com/channel/UChml0Cztq6JlRN5OmvzS9hg" target="blank" >
                                            <img style="width:28000px;" class="logo-default" src="~/assets/images/demo/start-hub-3/youtubeee.png" alt="youtube">
                                        </a>

                                        <a href="https://github.com/hexaops-git" target="blank">
                                            <img style="width:23000px;" class="logo-default" src="~/assets/images/demo/start-hub-3/githubbb.png" alt="github" >
                                        </a>

                              
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Start custom cursor -->
    <div class="lqd-cc lqd-cc--inner fixed pointer-events-none"></div>
    <div class="lqd-cc--el lqd-cc-solid lqd-cc-explore flex items-center justify-center rounded-full fixed pointer-events-none">
        <div class="lqd-cc-solid-bg flex absolute lqd-overlay"></div>
        <div class="lqd-cc-solid-txt flex justify-center text-center relative">
            <div class="lqd-cc-solid-txt-inner">Explide</div>
        </div>
    </div>
    <div class="lqd-cc--el lqd-cc-solid lqd-cc-drag flex items-center justify-center rounded-full fixed pointer-events-none">
        <div class="lqd-cc-solid-bg flex absolute lqd-overlay"></div>
        <div class="lqd-cc-solid-ext lqd-cc-solid-ext-left inline-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" style="width: 1em; height: 1em;">
                <path fill="currentColor" d="M19.943 6.07L9.837 14.73a1.486 1.486 0 0 0 0 2.25l10.106 8.661c.96.826 2.457.145 2.447-1.125V7.195c0-1.27-1.487-1.951-2.447-1.125z"></path>
            </svg>
        </div>
        <div class="lqd-cc-solid-txt flex justify-center text-center relative">
            <div class="lqd-cc-solid-txt-inner">Kaydır</div>
        </div>
        <div class="lqd-cc-solid-ext lqd-cc-solid-ext-right inline-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" style="width: 1em; height: 1em;">
                <path fill="currentColor" d="M11.768 25.641l10.106-8.66a1.486 1.486 0 0 0 0-2.25L11.768 6.07c-.96-.826-2.457-.145-2.447 1.125v17.321c0 1.27 1.487 1.951 2.447 1.125z"></path>
            </svg>
        </div>
    </div>
    <div class="lqd-cc--el lqd-cc-arrow inline-flex items-center fixed top-0 left-0 pointer-events-none">
        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M60.4993 0V4.77005H8.87285L80 75.9207L75.7886 79.1419L4.98796 8.35478V60.4993H0V0H60.4993Z" />
        </svg>
    </div>
    <div class="lqd-cc--el lqd-cc-custom-icon rounded-full fixed pointer-events-none">
        <div class="lqd-cc-ci inline-flex items-center justify-center rounded-full relative">
            <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="width: 1em; height: 1em;">
                <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M16.03 6a1 1 0 0 1 1 1v8.02h8.02a1 1 0 1 1 0 2.01h-8.02v8.02a1 1 0 1 1-2.01 0v-8.02h-8.02a1 1 0 1 1 0-2.01h8.02v-8.01a1 1 0 0 1 1.01-1.01z"></path>
            </svg>
        </div>
    </div>
    <div class="lqd-cc lqd-cc--outer fixed top-0 left-0 pointer-events-none"></div>
    <!-- End custom cursor -->

    <script src="~/assets/vendors/jquery.min.js"></script>
    <script src="~/assets/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/vendors/gsap/minified/gsap.min.js"></script>
    <script src="~/assets/vendors/gsap/minified/ScrollTrigger.min.js"></script>
    <script src="~/assets/vendors/gsap/utils/SplitText.min.js"></script>
    <script src="~/assets/vendors/fastdom/fastdom.min.js"></script>
    <script src="~/assets/vendors/isotope/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendors/isotope/packery-mode.pkgd.min.js"></script>
    <script src="~/assets/vendors/flickity/flickity.pkgd.min.js"></script>
    <script src="~/assets/vendors/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/vendors/draggabilly.pkgd.min.js"></script>
    <script src="~/assets/vendors/fontfaceobserver.js"></script>
    <script src="~/assets/vendors/particles.min.js"></script>
    <script src="~/assets/vendors/fresco/js/fresco.js"></script>
    <script src="~/assets/vendors/lity/lity.min.js"></script>
    <script src="~/assets/vendors/lottie/lottie.min.js"></script>
    <script src="~/assets/js/liquid-gdpr.min.js"></script>
    <script src="~/assets/js/theme.min.js"></script>
    <script src="~/assets/js/liquid-ajax-contact-form.min.js"></script>

    

    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
