@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 






	 <div class="titlebar-inner"> 
		 <div class="container titlebar-container"> 
			 <div class="row titlebar-container justify-center"> 
				 <div class="col titlebar-col col-xl-12 col-lg-12 col-12 text-center text-gray-400"> 
				<h1>Mühendislik Sınırlarını Biz Çizeriz.</h1>
					@* <p class="leading-20 text-gray-400">İnovasyonu en üst düzeye çıkararak müşterilerimizin potansiyelini açığa çıkarmak.​</p>
				</div> *@
			</div>
		</div>
	</div>

	<main class="content bg-white" id="lqd-site-content">
		<div id="qd-contents-wrap">

			<!-- Start Fixed Navigation -->
			<section class="lqd-section fixed-navigation bg-white shadow-top transition-all">
				<div class="container">
					<div class="row">
						<div class="col col-12 ">
							<div style="min-width:0vw!important;" class="lqd-fancy-menu lqd-custom-menu lqd-menu-td-none lqd-sticky-menu lqd-sticky-menu-floating bg-white link-black link-14" data-inview="true" data-inview-options='{ "toggleBehavior":  "toggleInView"}'>
								<ul class="reset-ul inline-ul" data-localscroll="true" data-localscroll-options='{"itemsSelector":">li > a", "trackWindowScroll": true, "includeParentAsOffset": true, "offsetElements": "[data-sticky-header] .lqd-head-sec-wrap:not(.lqd-hide-onstuck), body .main-header[data-sticky-header] >section:not(.lqd-hide-onstuck):not(.lqd-stickybar-wrap), body .main-header[data-sticky-header] section:not(.lqd-hide-onstuck):not(.lqd-stickybar-wrap)"}'>
									<li>
										<a href="/" style="text-align:center">Anasayfa</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Fixed Navigation -->
			<!-- Start Features -->
			<section class="lqd-section features bg-white bg-no-repeat bg-cover bg-center text-start py-100" style="background-image: url('./assets/images/demo/start-hub-3/features.svg');" data-custom-animations="true" data-ca-options='{"animationTarget": ".animation-element", "ease": "power4.out", "initValues": {"y": "35px", "opacity" : 0} , "animations": {"y": "0px", "opacity" : 1}}'>
				<div class="container">
					<div class="row">
						<div class="col col-12 col-xl-6 animation-element">
							<div class="flex flex-wrap flex-col mr-45percent ml-5percent">
								<div class="lqd-imggrp-single block relative">
									<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
										<figure class="w-full relative">
											<img width="38" height="6" src="./assets/images/demo/start-hub-3/shape-dash.svg" alt="features">
										</figure>
									</div>
								</div>
							<div class="ld-fancy-heading relative">
								<h2 class="text-50 ld-fh-element mb-0/5em inline-block relative" data-text-rotator="true">
									<span>Biz neden daha</span>
									<span class="txt-rotate-keywords">

										<span class="txt-rotate-keyword">
											<span>esneğiz</span>
										</span>
										<span class="txt-rotate-keyword">
											<span>ekonomiğiz</span>
										</span>

									</span>
								</h2>
							</div>
								<div class="lqd-imggrp-single relative xs:hidden lg:hidden xxl:block" data-parallax="true" data-parallax-options='{"start": "top bottom", "end": "bottom+=0px top"}' data-parallax-from='{"x": "200px", "y": "-100px", "rotationZ" : 0}' data-parallax-to='{"x": "400px", "y": "0px", "rotationZ" : -90}'>
									<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
										<figure class="w-full relative">
											<img width="95" height="95" src="./assets/images/demo/start-hub-3/shape-Image-760.svg" alt="3D shape">
										</figure>
									</div>
								</div>
							</div>
						</div>
					<div id="hizmetlerimiz" class="col col-12 col-xl-6 animation-element">
						<div class="lqd-iconbox-scale rounded-10 p-20 mb-30 transition-all mr-25percent">
							<div class="iconbox iconbox-side iconbox-heading-arrow-onhover flex flex-grow-1 relative">
								<div class="iconbox-icon-wrap">
									<div class="text-60 iconbox-icon-container inline-flex">
										@* <svg xmlns="http://www.w3.org/2000/svg" id="Notes" width="59" height="59" viewbox="0 0 59 59">
											<circle id="Oval-1" cx="29.5" cy="29.5" r="29.5" fill="#b7eef5"></circle>
											<path id="Combined_Shape-25" data-name="Combined Shape" d="M0,22.054A2.323,2.323,0,0,0,2.322,24.38H20.9a2.326,2.326,0,0,0,2.322-2.327V2.327A2.323,2.323,0,0,0,20.9,0H2.322A2.326,2.326,0,0,0,0,2.327Z" transform="translate(14.225 20.166)" fill="#008aba"></path>
											<path id="Combined_Shape-26" data-name="Combined Shape" d="M23.219,2.327A2.323,2.323,0,0,0,20.9,0H2.322A2.326,2.326,0,0,0,0,2.327V22.054A2.323,2.323,0,0,0,2.322,24.38H20.9a2.326,2.326,0,0,0,2.322-2.327Z" transform="translate(21.337 14.235)" fill="#6abbd7"></path>
											<path id="Shape-12" d="M9.237,11.8H1.152a1.18,1.18,0,0,1,0-2.36H9.237a1.18,1.18,0,0,1,0,2.36Zm-.58-4.72h-7.5a1.18,1.18,0,0,1,0-2.36h7.5a1.18,1.18,0,0,1,0,2.36ZM12.12,2.36H1.155A1.169,1.169,0,0,1,0,1.18,1.169,1.169,0,0,1,1.155,0H12.12a1.169,1.169,0,0,1,1.155,1.18A1.169,1.169,0,0,1,12.12,2.36Z" transform="translate(26.236 18.73)" fill="#b7eef5"></path>
										</svg> *@
											<img id="Notes" viewbox="0 0 59 59" width="59" height="59" src="~/assets/images/www-image.png" />
									</div>
								</div>
								<div class="contents">
									<h3 class="lqd-iconbox-heading text-18 text-primary leading-1em">
										<span>Web</span>
										<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
											<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
										</svg>
									</h3>
									<p>
										Web hizmeti sunan şirketimiz, kullanıcı dostu web siteleri ve uygulamaları oluşturarak işletmelerin dijital varlıklarını güçlendirmeye ve çevrimiçi varlık yönetimini kolaylaştırmaya odaklanıyor. Tasarım uzmanlarımız, müşterilerimizin ihtiyaçlarına uygun özelleştirilmiş çözümler sunmak için titizlikle çalışıyor ve teknik destek ekibimiz, kesintisiz bir çevrimiçi varlık deneyimi sağlamak için sürekli olarak yanlarında yer alıyor.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-12 col-xl-6 animation-element">
						<div class="lqd-iconbox-scale rounded-10 p-20 mb-30 transition-all mr-25percent">
							<div class="iconbox iconbox-side iconbox-heading-arrow-onhover flex flex-grow-1 relative">
								<div class="iconbox-icon-wrap">
									<div class="text-60 iconbox-icon-container inline-flex">
										@* <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewbox="0 0 58 58">
											<g id="Help" transform="translate(0 0)">
												<circle id="Oval-2" cx="29" cy="29" r="29" transform="translate(0 0)" fill="#ffe0ab"></circle>
												<path id="Shape-3" d="M18.422,36.975A18.517,18.517,0,0,1,11.2,35.527a18.373,18.373,0,0,1-9.766-9.715A17.854,17.854,0,0,1,0,18.79,18.9,18.9,0,0,1,5.346,5.453,18.155,18.155,0,0,1,18.422,0a16.92,16.92,0,0,1,6.883,1.458,17.805,17.805,0,0,1,5.673,4,18.742,18.742,0,0,1,3.852,5.966,19.55,19.55,0,0,1,1.42,7.371,18.013,18.013,0,0,1-1.42,7.021A18.456,18.456,0,0,1,30.978,31.6a18.06,18.06,0,0,1-5.673,3.929A17.07,17.07,0,0,1,18.422,36.975Zm-.3-27.153a8.358,8.358,0,0,0-6.008,2.538,8.789,8.789,0,0,0,0,12.255,8.379,8.379,0,0,0,12.015,0,8.789,8.789,0,0,0,0-12.255A8.357,8.357,0,0,0,18.125,9.822Z" transform="translate(10.5 10.15)" fill="#fbc774"></path>
												<path id="Shape-4" data-name="Shape-4" d="M18.642,37a19.338,19.338,0,0,1-6.092-1.026.672.672,0,0,1-.353-.646l1.042-9.375a.49.49,0,0,1,.249-.375,8.676,8.676,0,0,0,10.025,0,.48.48,0,0,1,.248.375L24.8,35.328a.683.683,0,0,1-.438.682A18.88,18.88,0,0,1,18.642,37ZM35.388,24.805a.539.539,0,0,1-.059,0l-9.375-1.041a.48.48,0,0,1-.375-.248,8.676,8.676,0,0,0,0-10.025.49.49,0,0,1,.375-.249L35.328,12.2a.561.561,0,0,1,.061,0,.684.684,0,0,1,.584.356A19.338,19.338,0,0,1,37,18.642a18.878,18.878,0,0,1-.99,5.722A.687.687,0,0,1,35.388,24.805Zm-33.775,0a.686.686,0,0,1-.622-.441A18.875,18.875,0,0,1,0,18.642a19.18,19.18,0,0,1,1.041-6.119.682.682,0,0,1,.57-.329.561.561,0,0,1,.061,0l9.374,1.042a.49.49,0,0,1,.376.25,8.677,8.677,0,0,0,0,10.023.478.478,0,0,1-.376.249L1.672,24.8A.54.54,0,0,1,1.612,24.805ZM13.489,11.422h0a.49.49,0,0,1-.249-.376L12.2,1.672a.68.68,0,0,1,.326-.631A19.18,19.18,0,0,1,18.642,0a18.873,18.873,0,0,1,5.722.99.682.682,0,0,1,.438.682l-1.041,9.374a.479.479,0,0,1-.249.376,8.677,8.677,0,0,0-10.022,0Z" transform="translate(10 10)" fill="#f5a623"></path>
											</g>
										</svg> *@
											<img id="Notes" viewbox="0 0 59 59" width="59" height="59" src="~/assets/images/mobile-icon-2.png" />
									</div>
								</div>
								<div class="contents">
									<h3 class="lqd-iconbox-heading text-18 text-primary leading-1em">
										<span>Mobil</span>
										<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
											<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
										</svg>
									</h3>
									<p>Şirketimiz, işletmeler için özelleştirilmiş mobil uygulamalar geliştirerek müşterilerin çevrimiçi varlıklarını genişletmelerine ve mobil platformlarda etkili bir şekilde var olmalarına yardımcı olur.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-12 col-xl-6 animation-element">
						<div class="lqd-iconbox-scale rounded-10 p-20 mb-30 transition-all mr-25percent">
							<div class="iconbox iconbox-side iconbox-heading-arrow-onhover flex flex-grow-1 relative">
								<div class="iconbox-icon-wrap">
									<div class="text-60 iconbox-icon-container inline-flex">
										@* <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewbox="0 0 55 55">
											<g id="Network" transform="translate(0 -0.101)">
												<circle id="Oval-3" cx="27.5" cy="27.5" r="27.5" transform="translate(0 0.101)" fill="#b6ccf9"></circle>
												<path id="Shape-5" d="M16.792,37.125a3.325,3.325,0,1,1,3.25-3.324A3.291,3.291,0,0,1,16.792,37.125Zm14.625-5.541a4.389,4.389,0,0,1-4.333-4.433,4.54,4.54,0,0,1,.154-1.175l-10.382-5.31L7.473,26.774a4,4,0,0,1,.11.932,3.84,3.84,0,0,1-3.792,3.878,3.88,3.88,0,0,1,0-7.757,3.736,3.736,0,0,1,2.58,1.036l8.581-5.586L6.512,12.144a4.258,4.258,0,0,1-2.179.6A4.389,4.389,0,0,1,0,8.312,4.389,4.389,0,0,1,4.333,3.879,4.389,4.389,0,0,1,8.667,8.312a4.506,4.506,0,0,1-.608,2.265l8.291,7.006L22.344,7.123a4.173,4.173,0,0,1-1.219-2.968,4.064,4.064,0,1,1,8.125,0,4.115,4.115,0,0,1-4.062,4.156,3.977,3.977,0,0,1-.949-.114l-6.1,10.646L28.32,24.051a4.254,4.254,0,0,1,3.1-1.333,4.434,4.434,0,0,1,0,8.865Z" transform="translate(10.694 9.038)" fill="#79a0ee"></path>
												<circle id="Oval-4" data-name="Oval-4" cx="6.875" cy="6.875" r="6.875" transform="translate(20.275 21.774)" fill="#4577d8"></circle>
											</g>
										</svg> *@
											<img id="Notes" viewbox="0 0 59 59" width="59" height="59" src="~/assets/images/ai-icon-2.png" />
									</div>
								</div>
								<div class="contents">
									<h3 class="lqd-iconbox-heading text-18 text-primary leading-1em">
										<span>AI/ Yapay Zeka</span>
										<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
											<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
										</svg>
									</h3>
									<p>Yapay zeka çözümleriyle, işletmelerin verilerini analiz ederek daha verimli kararlar almasını sağlıyoruz. Müşterilerimize özelleştirilmiş yapay zeka tabanlı çözümler sunarak iş süreçlerini optimize etmelerine ve rekabet avantajı elde etmelerine yardımcı oluyoruz.</p>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</section>


			@* //////////////////////      SECTİON 2  /////////////////////////*@

		@* < div class="titlebar-inner"> *@
			<div class="container titlebar-container">
				 <div class="row titlebar-container justify-center"> 
					<div class="col titlebar-col col-xl-6 col-lg-8 col-12 text-center text-gray-400">
				<h1>NASIL ÇALIŞIYORUZ</h1>
						 <p class="leading-20 text-gray-400"​</p> 
					</div>
				</div>
			</div>
		</div>
 

		<section class="lqd-section features bg-white bg-no-repeat bg-cover bg-center text-start py-100" style="background-image: url('./assets/images/demo/start-hub-3/features.svg');" data-custom-animations="true" data-ca-options='{"animationTarget": ".animation-element", "ease": "power4.out", "initValues": {"y": "35px", "opacity" : 0} , "animations": {"y": "0px", "opacity" : 1}}'>
@* 
		<div class="titlebar-inner">
			<div class="container titlebar-container">
				<div class="row titlebar-container justify-center">
					<div class="col titlebar-col col-xl-6 col-lg-8 col-12 text-center text-gray-400">
						<h1>NASIL ÇALIŞIYORUZ</h1> *@
						@* <p class="leading-20 text-gray-400">İnovasyonu en üst düzeye çıkararak müşterilerimizin potansiyelini açığa çıkarmak.​</p> *@
				@* 	</div>
				</div>
			</div>
		</div> *@


			<div class="container">
				<div class="col col-12 row">
					
					<div class="animation-element">
						<div class="lqd-iconbox-scale rounded-10 p-20 mb-30 transition-all">
							<div class="iconbox iconbox-side iconbox-heading-arrow-onhover flex flex-grow-1 relative">
								<div class="iconbox-icon-wrap">
									<div class="text-60 iconbox-icon-container inline-flex">
										@* <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewbox="0 0 58 58">
											<g id="Help" transform="translate(0 0)">
												<circle id="Oval-2" cx="29" cy="29" r="29" transform="translate(0 0)" fill="#ffe0ab"></circle>
												<path id="Shape-3" d="M18.422,36.975A18.517,18.517,0,0,1,11.2,35.527a18.373,18.373,0,0,1-9.766-9.715A17.854,17.854,0,0,1,0,18.79,18.9,18.9,0,0,1,5.346,5.453,18.155,18.155,0,0,1,18.422,0a16.92,16.92,0,0,1,6.883,1.458,17.805,17.805,0,0,1,5.673,4,18.742,18.742,0,0,1,3.852,5.966,19.55,19.55,0,0,1,1.42,7.371,18.013,18.013,0,0,1-1.42,7.021A18.456,18.456,0,0,1,30.978,31.6a18.06,18.06,0,0,1-5.673,3.929A17.07,17.07,0,0,1,18.422,36.975Zm-.3-27.153a8.358,8.358,0,0,0-6.008,2.538,8.789,8.789,0,0,0,0,12.255,8.379,8.379,0,0,0,12.015,0,8.789,8.789,0,0,0,0-12.255A8.357,8.357,0,0,0,18.125,9.822Z" transform="translate(10.5 10.15)" fill="#fbc774"></path>
												<path id="Shape-4" data-name="Shape-4" d="M18.642,37a19.338,19.338,0,0,1-6.092-1.026.672.672,0,0,1-.353-.646l1.042-9.375a.49.49,0,0,1,.249-.375,8.676,8.676,0,0,0,10.025,0,.48.48,0,0,1,.248.375L24.8,35.328a.683.683,0,0,1-.438.682A18.88,18.88,0,0,1,18.642,37ZM35.388,24.805a.539.539,0,0,1-.059,0l-9.375-1.041a.48.48,0,0,1-.375-.248,8.676,8.676,0,0,0,0-10.025.49.49,0,0,1,.375-.249L35.328,12.2a.561.561,0,0,1,.061,0,.684.684,0,0,1,.584.356A19.338,19.338,0,0,1,37,18.642a18.878,18.878,0,0,1-.99,5.722A.687.687,0,0,1,35.388,24.805Zm-33.775,0a.686.686,0,0,1-.622-.441A18.875,18.875,0,0,1,0,18.642a19.18,19.18,0,0,1,1.041-6.119.682.682,0,0,1,.57-.329.561.561,0,0,1,.061,0l9.374,1.042a.49.49,0,0,1,.376.25,8.677,8.677,0,0,0,0,10.023.478.478,0,0,1-.376.249L1.672,24.8A.54.54,0,0,1,1.612,24.805ZM13.489,11.422h0a.49.49,0,0,1-.249-.376L12.2,1.672a.68.68,0,0,1,.326-.631A19.18,19.18,0,0,1,18.642,0a18.873,18.873,0,0,1,5.722.99.682.682,0,0,1,.438.682l-1.041,9.374a.479.479,0,0,1-.249.376,8.677,8.677,0,0,0-10.022,0Z" transform="translate(10 10)" fill="#f5a623"></path>
											</g>
										</svg> *@
										<img id="Notes" viewbox="0 0 59 59" width="59" height="59" src="~/assets/images/mobile-icon-2.png" />
										
									</div>
								</div>
								<div class="contents">
									<h3 class="col col-12 lqd-iconbox-heading text-18 text-primary leading-1em">
										<span>Mobil Uygulama Geliştirme Adımları</span>
										@* <svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32"> *@
											<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
										</svg>
									</h3>
									

									
										<div class="col col-xl-12 lqd-iconbox-scale rounded-10 p-20 mb-30 transition-all ">
											<div class="iconbox iconbox-side iconbox-heading-arrow-onhover flex flex-grow-1 relative">
												<div class="iconbox-icon-wrap">
													<div class="text-60 iconbox-icon-container inline-flex">
														@* <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewbox="0 0 58 58">
														<g id="Help" transform="translate(0 0)">
														<circle id="Oval-2" cx="29" cy="29" r="29" transform="translate(0 0)" fill="#ffe0ab"></circle>
														<path id="Shape-3" d="M18.422,36.975A18.517,18.517,0,0,1,11.2,35.527a18.373,18.373,0,0,1-9.766-9.715A17.854,17.854,0,0,1,0,18.79,18.9,18.9,0,0,1,5.346,5.453,18.155,18.155,0,0,1,18.422,0a16.92,16.92,0,0,1,6.883,1.458,17.805,17.805,0,0,1,5.673,4,18.742,18.742,0,0,1,3.852,5.966,19.55,19.55,0,0,1,1.42,7.371,18.013,18.013,0,0,1-1.42,7.021A18.456,18.456,0,0,1,30.978,31.6a18.06,18.06,0,0,1-5.673,3.929A17.07,17.07,0,0,1,18.422,36.975Zm-.3-27.153a8.358,8.358,0,0,0-6.008,2.538,8.789,8.789,0,0,0,0,12.255,8.379,8.379,0,0,0,12.015,0,8.789,8.789,0,0,0,0-12.255A8.357,8.357,0,0,0,18.125,9.822Z" transform="translate(10.5 10.15)" fill="#fbc774"></path>
														<path id="Shape-4" data-name="Shape-4" d="M18.642,37a19.338,19.338,0,0,1-6.092-1.026.672.672,0,0,1-.353-.646l1.042-9.375a.49.49,0,0,1,.249-.375,8.676,8.676,0,0,0,10.025,0,.48.48,0,0,1,.248.375L24.8,35.328a.683.683,0,0,1-.438.682A18.88,18.88,0,0,1,18.642,37ZM35.388,24.805a.539.539,0,0,1-.059,0l-9.375-1.041a.48.48,0,0,1-.375-.248,8.676,8.676,0,0,0,0-10.025.49.49,0,0,1,.375-.249L35.328,12.2a.561.561,0,0,1,.061,0,.684.684,0,0,1,.584.356A19.338,19.338,0,0,1,37,18.642a18.878,18.878,0,0,1-.99,5.722A.687.687,0,0,1,35.388,24.805Zm-33.775,0a.686.686,0,0,1-.622-.441A18.875,18.875,0,0,1,0,18.642a19.18,19.18,0,0,1,1.041-6.119.682.682,0,0,1,.57-.329.561.561,0,0,1,.061,0l9.374,1.042a.49.49,0,0,1,.376.25,8.677,8.677,0,0,0,0,10.023.478.478,0,0,1-.376.249L1.672,24.8A.54.54,0,0,1,1.612,24.805ZM13.489,11.422h0a.49.49,0,0,1-.249-.376L12.2,1.672a.68.68,0,0,1,.326-.631A19.18,19.18,0,0,1,18.642,0a18.873,18.873,0,0,1,5.722.99.682.682,0,0,1,.438.682l-1.041,9.374a.479.479,0,0,1-.249.376,8.677,8.677,0,0,0-10.022,0Z" transform="translate(10 10)" fill="#f5a623"></path>
														</g>
														</svg> *@


													</div>
												</div>


												<div class="contents mr-20">
													<h3 class="col col-xl-3 lqd-iconbox-heading text-18 text-primary leading-1em">
														<span>Fikir Belirleme:</span>
														<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
															<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
														</svg>
													</h3>
													<p>Sorunu çözen veya eğlence sağlayan bir fikir bulun.</p>
												</div>
											<div>
												<div class="contents mr-20">

												<h3 class="col col-xl-3 lqd-iconbox-heading text-18 text-primary leading-1em">
													<span>Pazar Araştırması:</span>
													<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
														<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
													</svg>
												</h3>
												<p>Potansiyel pazarı ve hedef kitlenizi belirleyin, rakip uygulamaları inceleyin.</p>
												</div>
											</div>
											<div>
												<div class="contents mr-20">
													<h3 class="col col-xl-3 lqd-iconbox-heading text-18 text-primary leading-1em">
														<span>Pazar Araştırması:</span>
														<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
															<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
														</svg>
													</h3>
													<p>Potansiyel pazarı ve hedef kitlenizi belirleyin, rakip uygulamaları inceleyin.</p>
												</div>
											</div>
											<div>
												<div class="contents mr-20">
													<h3 class="col col-xl-3 lqd-iconbox-heading text-18 text-primary leading-1em">
														<span>Pazar Araştırması:</span>
														<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
															<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
														</svg>
													</h3>
													<p>Potansiyel pazarı ve hedef kitlenizi belirleyin, rakip uygulamaları inceleyin.</p>
												</div>
											</div>
											</div>
										</div>





										<div class="col col-xl-12 lqd-iconbox-scale rounded-10 p-20 mb-30 transition-all">
											<div class="iconbox iconbox-side iconbox-heading-arrow-onhover flex flex-grow-1 relative">
												<div class="iconbox-icon-wrap">
													<div class="text-60 iconbox-icon-container inline-flex">
														@* <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewbox="0 0 58 58">
														<g id="Help" transform="translate(0 0)">
														<circle id="Oval-2" cx="29" cy="29" r="29" transform="translate(0 0)" fill="#ffe0ab"></circle>
														<path id="Shape-3" d="M18.422,36.975A18.517,18.517,0,0,1,11.2,35.527a18.373,18.373,0,0,1-9.766-9.715A17.854,17.854,0,0,1,0,18.79,18.9,18.9,0,0,1,5.346,5.453,18.155,18.155,0,0,1,18.422,0a16.92,16.92,0,0,1,6.883,1.458,17.805,17.805,0,0,1,5.673,4,18.742,18.742,0,0,1,3.852,5.966,19.55,19.55,0,0,1,1.42,7.371,18.013,18.013,0,0,1-1.42,7.021A18.456,18.456,0,0,1,30.978,31.6a18.06,18.06,0,0,1-5.673,3.929A17.07,17.07,0,0,1,18.422,36.975Zm-.3-27.153a8.358,8.358,0,0,0-6.008,2.538,8.789,8.789,0,0,0,0,12.255,8.379,8.379,0,0,0,12.015,0,8.789,8.789,0,0,0,0-12.255A8.357,8.357,0,0,0,18.125,9.822Z" transform="translate(10.5 10.15)" fill="#fbc774"></path>
														<path id="Shape-4" data-name="Shape-4" d="M18.642,37a19.338,19.338,0,0,1-6.092-1.026.672.672,0,0,1-.353-.646l1.042-9.375a.49.49,0,0,1,.249-.375,8.676,8.676,0,0,0,10.025,0,.48.48,0,0,1,.248.375L24.8,35.328a.683.683,0,0,1-.438.682A18.88,18.88,0,0,1,18.642,37ZM35.388,24.805a.539.539,0,0,1-.059,0l-9.375-1.041a.48.48,0,0,1-.375-.248,8.676,8.676,0,0,0,0-10.025.49.49,0,0,1,.375-.249L35.328,12.2a.561.561,0,0,1,.061,0,.684.684,0,0,1,.584.356A19.338,19.338,0,0,1,37,18.642a18.878,18.878,0,0,1-.99,5.722A.687.687,0,0,1,35.388,24.805Zm-33.775,0a.686.686,0,0,1-.622-.441A18.875,18.875,0,0,1,0,18.642a19.18,19.18,0,0,1,1.041-6.119.682.682,0,0,1,.57-.329.561.561,0,0,1,.061,0l9.374,1.042a.49.49,0,0,1,.376.25,8.677,8.677,0,0,0,0,10.023.478.478,0,0,1-.376.249L1.672,24.8A.54.54,0,0,1,1.612,24.805ZM13.489,11.422h0a.49.49,0,0,1-.249-.376L12.2,1.672a.68.68,0,0,1,.326-.631A19.18,19.18,0,0,1,18.642,0a18.873,18.873,0,0,1,5.722.99.682.682,0,0,1,.438.682l-1.041,9.374a.479.479,0,0,1-.249.376,8.677,8.677,0,0,0-10.022,0Z" transform="translate(10 10)" fill="#f5a623"></path>
														</g>
														</svg> *@


													</div>
												</div>
											<div class="contents mr-20">
													<h3 class="col col-xl-3 lqd-iconbox-heading text-18 text-primary leading-1em">
														<span>Pazar Araştırması:</span>
														<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
															<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
														</svg>
													</h3>
													<p>Potansiyel pazarı ve hedef kitlenizi belirleyin, rakip uygulamaları inceleyin.</p>
												</div>
											<div>
												<div class="contents mr-20">
													<h3 class="col col-xl-3 lqd-iconbox-heading text-18 text-primary leading-1em">
														<span>Platform Seçimi:</span>
														<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
															<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
														</svg>
													</h3>
													<p>Hangi platformlarda (iOS, Android veya her ikisi) çalışacağını belirleyin.</p>
												</div>
											</div>
											<div>
												<div class="contents mr-20">
													<h3 class="col col-xl-3 lqd-iconbox-heading text-18 text-primary leading-1em">
														<span>Tasarım:</span>
														<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
															<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
														</svg>
													</h3>
													<p>Kullanıcı dostu bir arayüz ve deneyim tasarlayın.</p>
												</div>
											</div>
											<div>
												<div class="contents mr-20">
													<h3 class="col col-xl-3 lqd-iconbox-heading text-18 text-primary leading-1em">
														<span>Geliştirme:</span>
														<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
															<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
														</svg>
													</h3>
													<p>Seçtiğiniz platform için gerekli araçları kullanarak uygulamayı geliştirin..</p>
												</div>
											</div>
											</div>
										</div>

									<div class="col col-xl-12 lqd-iconbox-scale rounded-10 p-20 mb-30 transition-all">
										<div class="iconbox iconbox-side iconbox-heading-arrow-onhover flex flex-grow-1 relative">
											<div class="iconbox-icon-wrap">
												<div class="text-60 iconbox-icon-container inline-flex">
													@* <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewbox="0 0 58 58">
													<g id="Help" transform="translate(0 0)">
													<circle id="Oval-2" cx="29" cy="29" r="29" transform="translate(0 0)" fill="#ffe0ab"></circle>
													<path id="Shape-3" d="M18.422,36.975A18.517,18.517,0,0,1,11.2,35.527a18.373,18.373,0,0,1-9.766-9.715A17.854,17.854,0,0,1,0,18.79,18.9,18.9,0,0,1,5.346,5.453,18.155,18.155,0,0,1,18.422,0a16.92,16.92,0,0,1,6.883,1.458,17.805,17.805,0,0,1,5.673,4,18.742,18.742,0,0,1,3.852,5.966,19.55,19.55,0,0,1,1.42,7.371,18.013,18.013,0,0,1-1.42,7.021A18.456,18.456,0,0,1,30.978,31.6a18.06,18.06,0,0,1-5.673,3.929A17.07,17.07,0,0,1,18.422,36.975Zm-.3-27.153a8.358,8.358,0,0,0-6.008,2.538,8.789,8.789,0,0,0,0,12.255,8.379,8.379,0,0,0,12.015,0,8.789,8.789,0,0,0,0-12.255A8.357,8.357,0,0,0,18.125,9.822Z" transform="translate(10.5 10.15)" fill="#fbc774"></path>
													<path id="Shape-4" data-name="Shape-4" d="M18.642,37a19.338,19.338,0,0,1-6.092-1.026.672.672,0,0,1-.353-.646l1.042-9.375a.49.49,0,0,1,.249-.375,8.676,8.676,0,0,0,10.025,0,.48.48,0,0,1,.248.375L24.8,35.328a.683.683,0,0,1-.438.682A18.88,18.88,0,0,1,18.642,37ZM35.388,24.805a.539.539,0,0,1-.059,0l-9.375-1.041a.48.48,0,0,1-.375-.248,8.676,8.676,0,0,0,0-10.025.49.49,0,0,1,.375-.249L35.328,12.2a.561.561,0,0,1,.061,0,.684.684,0,0,1,.584.356A19.338,19.338,0,0,1,37,18.642a18.878,18.878,0,0,1-.99,5.722A.687.687,0,0,1,35.388,24.805Zm-33.775,0a.686.686,0,0,1-.622-.441A18.875,18.875,0,0,1,0,18.642a19.18,19.18,0,0,1,1.041-6.119.682.682,0,0,1,.57-.329.561.561,0,0,1,.061,0l9.374,1.042a.49.49,0,0,1,.376.25,8.677,8.677,0,0,0,0,10.023.478.478,0,0,1-.376.249L1.672,24.8A.54.54,0,0,1,1.612,24.805ZM13.489,11.422h0a.49.49,0,0,1-.249-.376L12.2,1.672a.68.68,0,0,1,.326-.631A19.18,19.18,0,0,1,18.642,0a18.873,18.873,0,0,1,5.722.99.682.682,0,0,1,.438.682l-1.041,9.374a.479.479,0,0,1-.249.376,8.677,8.677,0,0,0-10.022,0Z" transform="translate(10 10)" fill="#f5a623"></path>
													</g>
													</svg> *@


												</div>
											</div>
											<div class="contents mr-20">
												<h3 class="lqd-iconbox-heading text-18 text-primary leading-1em">
													<span>Geliştirme:</span>
													<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
														<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
													</svg>
												</h3>
												<p>Seçtiğiniz platform için gerekli araçları kullanarak uygulamayı geliştirin..</p>
											</div>
											<div>
												<div class="contents mr-20">
													<h3 class="lqd-iconbox-heading text-18 text-primary leading-1em">
														<span>Test Etme:</span>
														<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
															<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
														</svg>
													</h3>
													<p>Farklı cihazlarda ve koşullarda uygulamayı test edin.</p>
												</div>
											</div>
											<div>
												<div class="contents mr-20">
													<h3 class="lqd-iconbox-heading text-18 text-primary leading-1em">
														<span>Yayınlama:</span>
														<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
															<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
														</svg>
													</h3>
													<p>Uygulamayı ilgili mağazalara yükleyin ve kurallara uygun olduğundan emin olun.</p>
												</div>
											</div>
											<div>
												<div class="contents mr-20">
													<h3 class="lqd-iconbox-heading text-18 text-primary leading-1em">
														<span>Pazarlama ve Tanıtım:</span>
														<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
															<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
														</svg>
													</h3>
													<p>Sosyal medya, bloglar ve reklamlar gibi çeşitli kanallar kullanarak uygulamanızı tanıtın.</p>
												</div>
											</div>
										</div>
									</div>

									


									
								</div>
							</div>
						</div>
					</div>
					<div class="col col-xl-12 animation-element">
						<div class="lqd-iconbox-scale rounded-10 p-20 mb-30 transition-all mr-25percent">
							<div class="iconbox iconbox-side iconbox-heading-arrow-onhover flex flex-grow-1 relative">
								<div class="iconbox-icon-wrap">
									<div class="text-60 iconbox-icon-container inline-flex">
										@* <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewbox="0 0 55 55">
											<g id="Network" transform="translate(0 -0.101)">
												<circle id="Oval-3" cx="27.5" cy="27.5" r="27.5" transform="translate(0 0.101)" fill="#b6ccf9"></circle>
												<path id="Shape-5" d="M16.792,37.125a3.325,3.325,0,1,1,3.25-3.324A3.291,3.291,0,0,1,16.792,37.125Zm14.625-5.541a4.389,4.389,0,0,1-4.333-4.433,4.54,4.54,0,0,1,.154-1.175l-10.382-5.31L7.473,26.774a4,4,0,0,1,.11.932,3.84,3.84,0,0,1-3.792,3.878,3.88,3.88,0,0,1,0-7.757,3.736,3.736,0,0,1,2.58,1.036l8.581-5.586L6.512,12.144a4.258,4.258,0,0,1-2.179.6A4.389,4.389,0,0,1,0,8.312,4.389,4.389,0,0,1,4.333,3.879,4.389,4.389,0,0,1,8.667,8.312a4.506,4.506,0,0,1-.608,2.265l8.291,7.006L22.344,7.123a4.173,4.173,0,0,1-1.219-2.968,4.064,4.064,0,1,1,8.125,0,4.115,4.115,0,0,1-4.062,4.156,3.977,3.977,0,0,1-.949-.114l-6.1,10.646L28.32,24.051a4.254,4.254,0,0,1,3.1-1.333,4.434,4.434,0,0,1,0,8.865Z" transform="translate(10.694 9.038)" fill="#79a0ee"></path>
												<circle id="Oval-4" data-name="Oval-4" cx="6.875" cy="6.875" r="6.875" transform="translate(20.275 21.774)" fill="#4577d8"></circle>
											</g>
										</svg> *@
										
										<img id="Notes" viewbox="0 0 59 59" width="59" height="59" src="~/assets/images/e-ticaret-icon.png" />
									</div>
								</div>
								<div class="col contents">
									<h3 class="lqd-iconbox-heading text-18 text-primary leading-1em">
										<span>E-ticaret Süreçlerinin Geliştirilmesi</span>
										<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
											<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
										</svg>
									</h3>
									<p>
									<p style="font-weight:bold">Gereksinimlerin Belirlenmesi:</p> Mevcut süreçlerin incelenmesi ve iyileştirilmesi gereken alanların belirlenmesi.<br />
									<p style="font-weight:bold">Yapay Zeka İhtiyaçlarının Belirlenmesi:</p> Kişiselleştirilmiş öneriler, müşteri desteği gibi alanlarda yapay zeka çözümlerinin belirlenmesi.<br />
									<p style="font-weight:bold">Algoritma Seçimi:</p> İhtiyaçlara uygun yapay zeka algoritmalarının seçilmesi.<br />
									<p style="font-weight:bold">Veri Toplama ve Temizleme: </p>Eğitim için gerekli verilerin toplanması ve temizlenmesi.<br />
									<p style="font-weight:bold">Model Eğitimi ve Doğrulaması:</p>Seçilen algoritmalarla modelin eğitilmesi ve doğrulanması.<br />
									<p style="font-weight:bold">Entegrasyon ve Uygulama: </p>Yapay zeka çözümlerinin e-ticaret platformuna entegre edilmesi.<br />
									<p style="font-weight:bold">Sürekli İyileştirme: </p> Çözümlerin performansının izlenmesi ve iyileştirilmesi.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		 @*<section class="lqd-section features bg-white bg-no-repeat bg-cover bg-center text-start py-100" style="background-image: url('./assets/images/demo/start-hub-3/features.svg');" data-custom-animations="true" data-ca-options='{"animationTarget": ".animation-element", "ease": "power4.out", "initValues": {"y": "35px", "opacity" : 0} , "animations": {"y": "0px", "opacity" : 1}}'>
			<div class="container">
				<div class="row">
					<div class="col col-12 col-xl-6 animation-element">
						<div class="flex flex-wrap flex-col mr-45percent ml-5percent">
							<div class="lqd-imggrp-single block relative">
								<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
									<figure class="w-full relative">
										 <img width="38" height="6" src="./assets/images/demo/start-hub-3/shape-dash.svg" alt="features"> 
									</figure>
								</div>
							</div>
							 <div class="ld-fancy-heading relative">
								<h2 class="text-50 ld-fh-element mb-0/5em inline-block relative" data-text-rotator="true">
									<span>Biz neden daha</span>
									<span class="txt-rotate-keywords">

										<span class="txt-rotate-keyword">
											<span>esneğiz</span>
										</span>
										<span class="txt-rotate-keyword">
											<span>ekonomiğiz</span>
										</span>

									</span>
								</h2>
							</div> 
							<div class="lqd-imggrp-single relative xs:hidden lg:hidden xxl:block" data-parallax="true" data-parallax-options='{"start": "top bottom", "end": "bottom+=0px top"}' data-parallax-from='{"x": "200px", "y": "-100px", "rotationZ" : 0}' data-parallax-to='{"x": "400px", "y": "0px", "rotationZ" : -90}'>
								<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
									<figure class="w-full relative">
										<img width="95" height="95" src="./assets/images/demo/start-hub-3/shape-Image-760.svg" alt="3D shape">
									</figure>
								</div>
							</div>
						</div> 
					</div>



				<div style="display:flex ;">
					<div class="col col-12 col-xl-6 animation-element">
						<div class="lqd-iconbox-scale rounded-10 p-20 mb-30 transition-all mr-25percent" >
							<div class="iconbox iconbox-side iconbox-heading-arrow-onhover flex flex-grow-1 relative">
								<div class="iconbox-icon-wrap">
									<div class="text-60 iconbox-icon-container inline-flex">
										<svg xmlns="http://www.w3.org/2000/svg" id="Notes" width="59" height="59" viewbox="0 0 59 59">
											<circle id="Oval-1" cx="29.5" cy="29.5" r="29.5" fill="#b7eef5"></circle>
											<path id="Combined_Shape-25" data-name="Combined Shape" d="M0,22.054A2.323,2.323,0,0,0,2.322,24.38H20.9a2.326,2.326,0,0,0,2.322-2.327V2.327A2.323,2.323,0,0,0,20.9,0H2.322A2.326,2.326,0,0,0,0,2.327Z" transform="translate(14.225 20.166)" fill="#008aba"></path>
											<path id="Combined_Shape-26" data-name="Combined Shape" d="M23.219,2.327A2.323,2.323,0,0,0,20.9,0H2.322A2.326,2.326,0,0,0,0,2.327V22.054A2.323,2.323,0,0,0,2.322,24.38H20.9a2.326,2.326,0,0,0,2.322-2.327Z" transform="translate(21.337 14.235)" fill="#6abbd7"></path>
											<path id="Shape-12" d="M9.237,11.8H1.152a1.18,1.18,0,0,1,0-2.36H9.237a1.18,1.18,0,0,1,0,2.36Zm-.58-4.72h-7.5a1.18,1.18,0,0,1,0-2.36h7.5a1.18,1.18,0,0,1,0,2.36ZM12.12,2.36H1.155A1.169,1.169,0,0,1,0,1.18,1.169,1.169,0,0,1,1.155,0H12.12a1.169,1.169,0,0,1,1.155,1.18A1.169,1.169,0,0,1,12.12,2.36Z" transform="translate(26.236 18.73)" fill="#b7eef5"></path>
										</svg>
									</div>
								</div>

								<div class="contents">
									<h3 class="lqd-iconbox-heading text-18 text-primary leading-1em">
										<span>Mobil Uygulama Geliştirme</span>
										<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
											<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
										</svg>
									</h3>
									<p>
									<p style="font-weight:bold">Fikir Belirleme:</p> Sorunu çözen veya eğlence sağlayan bir fikir bulun. <br />
									<p style="font-weight:bold">Pazar Araştırması:</p> Potansiyel pazarı ve hedef kitlenizi belirleyin, rakip uygulamaları inceleyin.<br />
									<p style="font-weight:bold">Platform Seçimi:</p>  Hangi platformlarda (iOS, Android veya her ikisi) çalışacağını belirleyin.<br />
									<p style="font-weight:bold">Tasarım:</p> Kullanıcı dostu bir arayüz ve deneyim tasarlayın.<br />
									<p style="font-weight:bold">Geliştirme:</p>	Seçtiğiniz platform için gerekli araçları kullanarak uygulamayı geliştirin.<br />
									<p style="font-weight:bold">Test Etme:</p>Farklı cihazlarda ve koşullarda uygulamayı test edin.<br />
									<p style="font-weight:bold">Yayınlama:</p>Uygulamayı ilgili mağazalara yükleyin ve kurallara uygun olduğundan emin olun.<br />
									<p style="font-weight:bold">Pazarlama ve Tanıtım:</p>Sosyal medya, bloglar ve reklamlar gibi çeşitli kanallar kullanarak uygulamanızı tanıtın.<br />
									<p style="font-weight:bold">Geri Bildirim Toplama ve Güncelleme:</p>
									<p>Kullanıcı geri bildirimlerini dikkate alarak ve pazar ihtiyaçlarına cevap vererek uygulamayı güncelleyin.</p>
								</div>
							</div>
						</div>
					</div>
				<div class="col col-12 col-xl-6 animation-element" >
						<div class="lqd-iconbox-scale rounded-10 p-20 mb-30 transition-all mr-25percent">
							<div class="iconbox iconbox-side iconbox-heading-arrow-onhover flex flex-grow-1 relative">
								<div class="iconbox-icon-wrap">
									<div class="text-60 iconbox-icon-container inline-flex">
										<svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewbox="0 0 58 58">
											<g id="Help" transform="translate(0 0)">
												<circle id="Oval-2" cx="29" cy="29" r="29" transform="translate(0 0)" fill="#ffe0ab"></circle>
												<path id="Shape-3" d="M18.422,36.975A18.517,18.517,0,0,1,11.2,35.527a18.373,18.373,0,0,1-9.766-9.715A17.854,17.854,0,0,1,0,18.79,18.9,18.9,0,0,1,5.346,5.453,18.155,18.155,0,0,1,18.422,0a16.92,16.92,0,0,1,6.883,1.458,17.805,17.805,0,0,1,5.673,4,18.742,18.742,0,0,1,3.852,5.966,19.55,19.55,0,0,1,1.42,7.371,18.013,18.013,0,0,1-1.42,7.021A18.456,18.456,0,0,1,30.978,31.6a18.06,18.06,0,0,1-5.673,3.929A17.07,17.07,0,0,1,18.422,36.975Zm-.3-27.153a8.358,8.358,0,0,0-6.008,2.538,8.789,8.789,0,0,0,0,12.255,8.379,8.379,0,0,0,12.015,0,8.789,8.789,0,0,0,0-12.255A8.357,8.357,0,0,0,18.125,9.822Z" transform="translate(10.5 10.15)" fill="#fbc774"></path>
												<path id="Shape-4" data-name="Shape-4" d="M18.642,37a19.338,19.338,0,0,1-6.092-1.026.672.672,0,0,1-.353-.646l1.042-9.375a.49.49,0,0,1,.249-.375,8.676,8.676,0,0,0,10.025,0,.48.48,0,0,1,.248.375L24.8,35.328a.683.683,0,0,1-.438.682A18.88,18.88,0,0,1,18.642,37ZM35.388,24.805a.539.539,0,0,1-.059,0l-9.375-1.041a.48.48,0,0,1-.375-.248,8.676,8.676,0,0,0,0-10.025.49.49,0,0,1,.375-.249L35.328,12.2a.561.561,0,0,1,.061,0,.684.684,0,0,1,.584.356A19.338,19.338,0,0,1,37,18.642a18.878,18.878,0,0,1-.99,5.722A.687.687,0,0,1,35.388,24.805Zm-33.775,0a.686.686,0,0,1-.622-.441A18.875,18.875,0,0,1,0,18.642a19.18,19.18,0,0,1,1.041-6.119.682.682,0,0,1,.57-.329.561.561,0,0,1,.061,0l9.374,1.042a.49.49,0,0,1,.376.25,8.677,8.677,0,0,0,0,10.023.478.478,0,0,1-.376.249L1.672,24.8A.54.54,0,0,1,1.612,24.805ZM13.489,11.422h0a.49.49,0,0,1-.249-.376L12.2,1.672a.68.68,0,0,1,.326-.631A19.18,19.18,0,0,1,18.642,0a18.873,18.873,0,0,1,5.722.99.682.682,0,0,1,.438.682l-1.041,9.374a.479.479,0,0,1-.249.376,8.677,8.677,0,0,0-10.022,0Z" transform="translate(10 10)" fill="#f5a623"></path>
											</g>
										</svg>
									</div>
								</div>
								<div class="contents">
									<h3 class="lqd-iconbox-heading text-18 text-primary leading-1em">
										<span>Mobil</span>
										<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
											<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
										</svg>
									</h3>
									<p>
									<p style="font-weight:bold">Gereksinimlerin Belirlenmesi:</p> Mevcut süreçlerin incelenmesi ve iyileştirilmesi gereken alanların belirlenmesi.<br />
									<p style="font-weight:bold">Yapay Zeka İhtiyaçlarının Belirlenmesi:</p> Kişiselleştirilmiş öneriler, müşteri desteği gibi alanlarda yapay zeka çözümlerinin belirlenmesi.<br />
									<p style="font-weight:bold">Algoritma Seçimi:</p> İhtiyaçlara uygun yapay zeka algoritmalarının seçilmesi.<br />
									<p style="font-weight:bold">Veri Toplama ve Temizleme: </p>Eğitim için gerekli verilerin toplanması ve temizlenmesi.<br />
									<p style="font-weight:bold">Model Eğitimi ve Doğrulaması:</p>Seçilen algoritmalarla modelin eğitilmesi ve doğrulanması.<br />
									<p style="font-weight:bold">Entegrasyon ve Uygulama: </p>Yapay zeka çözümlerinin e-ticaret platformuna entegre edilmesi.<br />
									<p style="font-weight:bold">Sürekli İyileştirme: </p> Çözümlerin performansının izlenmesi ve iyileştirilmesi.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-12 col-xl-6 animation-element">
					<div class="lqd-iconbox-scale rounded-10 p-20 mb-30 transition-all mr-25percent">
					<div class="iconbox iconbox-side iconbox-heading-arrow-onhover flex flex-grow-1 relative">
					<div class="iconbox-icon-wrap">
					<div class="text-60 iconbox-icon-container inline-flex">
					<svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewbox="0 0 55 55">
					<g id="Network" transform="translate(0 -0.101)">
					<circle id="Oval-3" cx="27.5" cy="27.5" r="27.5" transform="translate(0 0.101)" fill="#b6ccf9"></circle>
					<path id="Shape-5" d="M16.792,37.125a3.325,3.325,0,1,1,3.25-3.324A3.291,3.291,0,0,1,16.792,37.125Zm14.625-5.541a4.389,4.389,0,0,1-4.333-4.433,4.54,4.54,0,0,1,.154-1.175l-10.382-5.31L7.473,26.774a4,4,0,0,1,.11.932,3.84,3.84,0,0,1-3.792,3.878,3.88,3.88,0,0,1,0-7.757,3.736,3.736,0,0,1,2.58,1.036l8.581-5.586L6.512,12.144a4.258,4.258,0,0,1-2.179.6A4.389,4.389,0,0,1,0,8.312,4.389,4.389,0,0,1,4.333,3.879,4.389,4.389,0,0,1,8.667,8.312a4.506,4.506,0,0,1-.608,2.265l8.291,7.006L22.344,7.123a4.173,4.173,0,0,1-1.219-2.968,4.064,4.064,0,1,1,8.125,0,4.115,4.115,0,0,1-4.062,4.156,3.977,3.977,0,0,1-.949-.114l-6.1,10.646L28.32,24.051a4.254,4.254,0,0,1,3.1-1.333,4.434,4.434,0,0,1,0,8.865Z" transform="translate(10.694 9.038)" fill="#79a0ee"></path>
					<circle id="Oval-4" data-name="Oval-4" cx="6.875" cy="6.875" r="6.875" transform="translate(20.275 21.774)" fill="#4577d8"></circle>
					</g>
					</svg>
					</div>
					</div>
					<div class="contents">
					<h3 class="lqd-iconbox-heading text-18 text-primary leading-1em">
					<span>AI/ Yapay Zeka</span>
					<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="12" height="32" viewbox="0 0 12 32">
					<path fill="currentColor" d="M8.375 16L.437 8.062C-.125 7.5-.125 6.5.438 5.938s1.563-.563 2.126 0l9 9c.562.562.624 1.5.062 2.062l-9.063 9.063c-.312.312-.687.437-1.062.437s-.75-.125-1.063-.438c-.562-.562-.562-1.562 0-2.125z"></path>
					</svg>
					</h3>
					<p>Yapay zeka çözümleriyle, işletmelerin verilerini analiz ederek daha verimli kararlar almasını sağlıyoruz. Müşterilerimize özelleştirilmiş yapay zeka tabanlı çözümler sunarak iş süreçlerini optimize etmelerine ve rekabet avantajı elde etmelerine yardımcı oluyoruz.</p>
					</div>
					</div>
					</div>
					</div> 
				</div>
			</div>		
		</section> *@
		





			<!-- End Features -->
			<!-- Start Carousel Text LG -->
			<section class="lqd-section carousel-text-lg bg-white transition-all">
				<div class="ld-particles-container w-full lqd-particles-as-bg lqd-overlay flex">
					<div class="ld-particles-inner lqd-overlay flex pointer-events-none" id="lqd-particle-text-carousel" data-particles="true" data-particles-options='{"particles": {"number": {"value" : 4} , "color": {"value" : ["#604CFD", "#FDA44C", "#0FBBB4", "#F85976"]} , "shape": {"type" : ["circle"]} , "opacity": {"value" : 1} , "size": {"value" : 4, "random": true} , "move": {"enable": true, "direction": "none", "random": true, "out_mode": "out"}} , "interactivity" : [], "retina_detect": true}'></div>
				</div>
				<div class="container-fluid p-0">
					<div class="row m-0">
						<div class="col col-12 p-0">
							<div class="carousel-container relative carousel-nav-shaped" id="carousel-text">
								<div class="carousel-items relative -mr-30 -ml-30" data-lqd-flickity='{"percentPosition": false, "columnsAutoWidth": true, "marquee": true, "pauseAutoPlayOnHover": false}'>
									<div class="carousel-item flex flex-col justify-center px-30">
										<div class="carousel-item-inner relative w-full">
											<div class="carousel-item-content relative w-full font-bold leading-1/2em module-title-top">
												<h2 class="m-0 text-inherit leading-inherit pb-0/1em text-size-inherit">
												<strong>Bulut Tabanlı Geliştirme - Veri Yönetimi -</strong>
												</h2>
											</div>
										</div>
									</div>
									<div class="carousel-item flex flex-col justify-center px-30">
										<div class="carousel-item-inner relative w-full">
											<div class="carousel-item-content relative w-full font-bold leading-1/2em module-title-top">
												<h2 class="m-0 text-inherit leading-inherit pb-0/1em text-size-inherit">
												<strong>Bulut Tabanlı Geliştirme - Veri Yönetimi -</strong>
											</h2>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col col-12 p-0">
							<div class="carousel-container relative carousel-nav-shaped">
								<div class="carousel-items relative -mr-30 -ml-30 " data-lqd-flickity='{"percentPosition": false, "columnsAutoWidth": true, "marquee": true, "rightToLeft": true, "pauseAutoPlayOnHover": false}'>
									<div class="carousel-item flex flex-col justify-center px-30">
										<div class="carousel-item-inner relative w-full">
											<div class="carousel-item-content relative w-full font-bold leading-1/2em  module-title-bottom">
											<h2 class="m-0 leading-inherit pb-0/1em text-transparent text-size-inherit"><strong> Cloud Development - Bigdata Management -</strong></h2>
											</div>
										</div>
									</div>
									<div class="carousel-item flex flex-col justify-center px-30">
										<div class="carousel-item-inner relative w-full">
											<div class="carousel-item-content relative w-full font-bold leading-1/2em  module-title-bottom">
											<h2 class="m-0 leading-inherit pb-0/1em text-transparent text-size-inherit"><strong> Cloud Development - Bigdata Management -</strong></h2>
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Carousel Text LG -->
			<!-- Start Tab Box -->
		<section class="lqd-section tab-box bg-white transition-all py-50" data-custom-animations="true" data-ca-options='{"animationTarget": ".animation-element", "ease": "power4.out", "initValues": {"y": "35px", "opacity" : 0} , "animations": {"y": "0px", "opacity" : 1}}'>
			<div class="container animation-element">
				<div class="row justify-center">
					<div class="col col-12 col-md-10 col-lg-8 text-center pb-50 pt-20">
						<div class="ld-fancy-heading relative">
							<h2 class="ld-fh-element mb-0/5em inline-block relative ld-gradient-heading lqd-highlight-classic lqd-highlight-grow-left lqd-highlight-reset-onhover text-44 bg-transparent" data-inview="true" data-transition-delay="true" data-delay-options=' {"elements": ".lqd-highlight-inner", "delayType": "transition"}' style="background-image: linear-gradient(250deg, #4452F2 0%, #749FEF 100%);">
								<span>Yerleşik sahtekarlık</span>
								<mark class="lqd-highlight">
									<span class="lqd-highlight-txt">koruma.</span>
									<span class="lqd-highlight-inner h-20 -bottom-5 left-0 bg-slate-100"></span>
								</mark>
							</h2>
						</div>
						<div class="px-10percent ld-fancy-heading relative">
							<p class="ld-fh-element mb-0/5em inline-block relative text-18">Dönüşüm sağlayan mükemmel ve sağlam ürün deneyimleri oluşturmak için müşteri verilerini kullanın.</p>
						</div>
					</div>
					<div class="col col-12 py-0">
						<div class="flex">
							<div class="lqd-tabs lqd-tabs-style-13 flex lqd-tabs-nav-items-not-expanded flex-row-reverse lqd-nav-underline-" data-tabs-options='{"trigger": "click"}'>
								<nav class="lqd-tabs-nav-wrap">
									<ul class="reset-ul lqd-tabs-nav flex flex-col relative" role="tablist">
										<li role="presentation">
											<a class="bg-transparent rounded-12 block mb-0/5em active" href="#lqd-tab-box-one" aria-expanded="true" aria-controls="lqd-tab-box-one" role="tab" data-bs-toggle="tab">
												<span class="block lqd-tabs-nav-txt">Görsel Site Düzenleyicisi</span>
												<span class="lqd-tabs-nav-ext">Tasarımınızı WordPress Özelleştirici'deki çok çeşitli tema seçenekleriyle ayarlayın ve değişiklikleri anında görün. </span>
											</a>
										</li>
										<li role="presentation">
											<a class="bg-transparent rounded-12 block mb-0/5em" href="#lqd-tab-box-two" aria-expanded="false" aria-controls="lqd-tab-box-two" role="tab" data-bs-toggle="tab">
												<span class="block lqd-tabs-nav-txt">Duyarlı Ayarlar</span>
												<span class="lqd-tabs-nav-ext">Tasarımınızı WordPress Özelleştirici'deki çok çeşitli tema seçenekleriyle ayarlayın ve değişiklikleri anında görün. </span>
											</a>
										</li>
										<li role="presentation">
											<a class="bg-transparent rounded-12 block mb-0/5em" href="#lqd-tab-box-three" aria-expanded="false" aria-controls="lqd-tab-box-three" role="tab" data-bs-toggle="tab">
												<span class="block lqd-tabs-nav-txt">Canlı Tema Özelleştirici</span>
												<span class="lqd-tabs-nav-ext">Tasarımınızı WordPress Özelleştirici'deki çok çeşitli tema seçenekleriyle ayarlayın ve değişiklikleri anında görün. </span>
											</a>
										</li>
										<li role="presentation">
											<a class="bg-transparent rounded-12 block mb-0/5em" href="#lqd-tab-box-four" aria-expanded="false" aria-controls="lqd-tab-box-four" role="tab" data-bs-toggle="tab">
												<span class="block lqd-tabs-nav-txt">Merkez Koleksiyonu</span>
												<span class="lqd-tabs-nav-ext">Tasarımınızı WordPress Özelleştirici'deki çok çeşitli tema seçenekleriyle ayarlayın ve değişiklikleri anında görün.</span>
											</a>
										</li>
										<li role="presentation">
											<a class="bg-transparent rounded-12 block mb-0/5em" href="#lqd-tab-five" aria-expanded="false" aria-controls="lqd-tab-five" role="tab" data-bs-toggle="tab">
												<span class="block lqd-tabs-nav-txt">Açık ve Karanlık Modlar</span>
												<span class="lqd-tabs-nav-ext">Tasarımınızı WordPress Özelleştirici'deki çok çeşitli tema seçenekleriyle ayarlayın ve değişiklikleri anında görün. </span>
											</a>
										</li>
									</ul>
								</nav>
								<div class="lqd-tabs-content pr-2em relative">
									<div id="lqd-tab-box-one" role="tabpanel" class="lqd-tabs-pane fade active in">
										<img src="./assets/images/demo/start-hub-3/yereldanal-ss.png" alt="tab box" width="1773" height="1121">
									</div>
									<div id="lqd-tab-box-two" role="tabpanel" class="lqd-tabs-pane fade">
										<img src="./assets/images/demo/start-hub-3/yereldanal-ss.png" alt="tab box" width="1773" height="1121">
									</div>
									<div id="lqd-tab-box-three" role="tabpanel" class="lqd-tabs-pane fade">
										<img src="./assets/images/demo/start-hub-3/yereldanal-ss.png" alt="tab box" width="1773" height="1121">
									</div>
									<div id="lqd-tab-box-four" role="tabpanel" class="lqd-tabs-pane fade">
										<p><img src="./assets/images/demo/start-hub-3/yereldanal-ss.png" alt="tab box" width="1773" height="1121">
									</div>
									<div id="lqd-tab-five" role="tabpanel" class="lqd-tabs-pane fade">
										<p><img src="./assets/images/demo/start-hub-3/yereldanal-ss.png" alt="tab box" width="1773" height="1121">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-12 pt-0">
						<div class="w-full relative flex flex-wrap items-center">
							<div class="w-25percent flex flex-col lg:w-50percent">
								<div class="text-primary lqd-counter relative left lqd-counter-default">
									<div class="lqd-counter-element relative h1" data-enable-counter="true" data-counter-options='{"targetNumber": "4m+"}'>
										<span class="block">4m+</span>
									</div>
								</div>
								<div class="mb-15 lqd-imggrp-single block relative">
									<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
										<figure class="w-full relative">
											<img width="107" height="15" src="./assets/images/demo/start-hub-3/shape-stars.svg" alt="stars">
										</figure>
									</div>
								</div>
								<div class="mb-10 ld-fancy-heading relative">
									<p class="m-0 text-accent ld-fh-element relative">Kurulumlar</p>
								</div>
								<div class="ld-fancy-heading relative">
									@* <p class="m-0 text-gradient-start ld-fh-element relative">Uygulama Mağazası</p> *@
								</div>
							</div>
							<div class="w-25percent flex flex-col lg:w-50percent">
								<div class="text-primary lqd-counter relative left lqd-counter-default">
									<div class="lqd-counter-element relative h1" data-enable-counter="true" data-counter-options='{"targetNumber": "4.88"}'>
										<span class="block">4.88</span>
									</div>
								</div>
								<div class="mb-15 lqd-imggrp-single block relative">
									<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
										<figure class="w-full relative">
											<img width="107" height="15" src="./assets/images/demo/start-hub-3/shape-stars.svg" alt="stars">
										</figure>
									</div>
								</div>
								<div class="mb-10 ld-fancy-heading relative">
									<p class="m-0 text-accent ld-fh-element relative">Kurulumlar</p>
								</div>
								<div class="ld-fancy-heading relative">
									@* <p class="m-0 text-gradient-start ld-fh-element relative">Uygulama Mağazası</p> *@
								</div>
							</div>
							<div class="w-50percent relative flex flex-wrap justify-between pr-100 module-clients lg:w-full lg:pr-0">
								<div class="w-auto lqd-imggrp-single block relative">
									<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
										<figure class="w-full relative">
											<img width="101" height="30" src="./assets/images/demo/start-hub-3/yereldenal-logo.png" alt="clients">
										</figure>
									</div>
								</div>
								<div class="w-auto lqd-imggrp-single block relative">
									<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
										<figure class="w-full relative">
											<img width="66" height="21" src="./assets/images/demo/start-hub-3/hexaops-llc-logo.png" alt="clients">
										</figure>
									</div>
								</div>
								<div class="w-auto lqd-imggrp-single block relative" style="margin-top:15px">
									<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
										
	<a href="https://alligoria.com/" target="blank"><img width="96" height="37" src="./assets/images/demo/start-hub-3/aligoria-logo.png" alt="clients">
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
			<!-- End Tab Box -->
			<!-- Start Testimonials -->
		<section class="lqd-section testimonials bg-tarnsparent pb-50 pt-50 lg:pt-0" id="testimonials" style="background-image: linear-gradient(180deg, #FFEEDE 50%, #fff 100%);">
			<div class="lqd-shape lqd-shape-top" data-negative="false">
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 100" preserveaspectratio="none">
					<path class="lqd-shape-fill" d="M738,99l262-93V0H0v5.6L738,99z" fill="#fff"></path>
				</svg>
			</div>
			<div class="container module-slider">
				<div class="row">
					<div class="col col-12 text-center">
						<div class="carousel-container relative carousel-nav-center carousel-nav-lg carousel-nav-circle carousel-nav-center carousel-nav-floated carousel-nav-middle carousel-nav-middlecarousel-dots-mobile-outside carousel-dots-mobile-center">
							<div class="carousel-items relative" data-lqd-flickity='{"prevNextButtons": true, "wrapAround": true, "groupCells": true, "cellAlign": "left", "buttonsAppendTo": "self", "addSlideNumbersToArrows": false, "pageDots": false}'>
								<div class="flickity-viewport relative w-full overflow-hidden">
									<div class="flickity-slider flex w-full h-full relative items-start">
										<div class="carousel-item flex flex-col justify-center">
											<div class="carousel-item-inner relative w-full">
												<div class="text-20 font-medium leading-20 text-center carousel-item-content relative w-full">
													<img src="./assets/images/demo/start-hub-3/woman-photo.png" alt="testimonial" width="100" height="121">
													<p class="mt-2em text-black">Kolay ve güzel tasarlanmış sayfa oluşturucuyu ve belgeleri seviyorum. Hepsi bir arada iniş ve başlatma çözümleri, onu son derece önemli hale getiren sonsuz kullanım durumları.</p>
													<h6 class="text-purple-400 text-13">Kate Roben, LA Studio'da Oyun Tasarımcısı</h6>
												</div>
											</div>
										</div>
										<div class="carousel-item flex flex-col justify-center">
											<div class="carousel-item-inner relative w-full">
												<div class="text-20 font-medium leading-20 text-center carousel-item-content relative w-full">
													<img src="./assets/images/demo/start-hub-3/woman-photo.png" alt="testimonial" width="100" height="121">
													<p class="mt-2em text-black">Hub'ın bu yıl gördüğüm en iyi tema olduğunu düşünüyorum. Optimize edilmiş performans için olağanüstü tasarım, özelleştirilmesi kolay ve bulut platformunda tasarım kalitesinde üstün bir hesap</p>
													<h6 class="text-purple-400 text-13">Marry Roben, Ürün Tasarımcısı</h6>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="absolute w-auto top-0 sm:hidden module-shape-1">
				<div class="lqd-imggrp-single block relative" data-float="ease">
					<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
						<figure class="w-full relative">
							<img width="250" height="276" src="./assets/images/demo/start-hub-3/shape-human.svg" alt="3D shape human">
						</figure>
					</div>
				</div>
			</div>
			<div class="absolute w-100 top-50percent sm:hidden module-shape-2" data-parallax="true" data-parallax-options='{"ease":["linear"],"start":"top bottom","end":"top center"}' data-parallax-from='{"x":"-152px","y":"-213px","rotationZ":-200}' data-parallax-to='{"x":"0px","y":"0px","rotationZ":50}'>
				<div class="lqd-imggrp-single block relative">
					<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
						<figure class="w-full relative">
							<img width="100" height="424" src="./assets/images/demo/start-hub-3/prizma.png" alt="3D shape">
						</figure>
					</div>
				</div>
			</div>
			<div class="absolute w-70 top-60percent sm:hidden module-shape-3" data-parallax="true" data-parallax-options='{"ease":["linear"],"start":"top bottom","end":"top center"}' data-parallax-from='{"x":"140px","y":"73px"}' data-parallax-to='{"x":"0px","y":"0px"}'>
				<div class="lqd-imggrp-single block relative" data-float="ease">
					<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
						<figure class="w-full relative">
							<img width="70" height="70" src="./assets/images/demo/start-hub-3/hand-photo.png" alt="3D shape">
						</figure>
					</div>
				</div>
			</div>
			<div class="absolute w-100 top-60 ltr-right-0 sm:hidden module-shape-4" data-parallax="true" data-parallax-options='{"ease":["linear"],"start":"top bottom","end":"top center"}' data-parallax-from='{"x":"116px","y":"-220px","rotationZ":132}' data-parallax-to='{"x":"0px","y":"159px","rotationZ":0}'>
				<div class="lqd-imggrp-single block relative">
					<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
						<figure class="w-full relative">
							<img width="100" height="100" src="./assets/images/demo/start-hub-3/cube-photo.png" alt="3D shape">
						</figure>
					</div>
				</div>
			</div>
			<section class="lqd-section w-full mt-100 lg:hidden">
				<div class="container">
					<div class="row items-center text-center">
						<div class="col col-2">
							<div class="lqd-imggrp-single block relative">
								<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
									<figure class="w-full relative">
										<img width="111" height="33" src="./assets/images/demo/start-hub-3/harmonic.png" alt="client">
									</figure>
								</div>
							</div>
						</div>
						<div class="col col-2">
							<div class="lqd-imggrp-single block relative">
								<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
									<figure class="w-full relative">
										<img width="65" height="23" src="./assets/images/demo/start-hub-3/ekipmer-logo.png" alt="client">
									</figure>
								</div>
							</div>
						</div>
						<div class="col col-2">
							<div class="lqd-imggrp-single block relative">
								<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
									<figure class="w-full relative">
										<img width="75" height="17" src="./assets/images/demo/start-hub-3/hgg_logo.jpg" alt="client">
									</figure>
								</div>
							</div>
						</div>
						<div class="col col-2">
							<div class="lqd-imggrp-single block relative">
								<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
									<figure class="w-full relative">
										<img width="74" height="59" src="./assets/images/demo/start-hub-3/paxon-logo.png" alt="client">
									</figure>
								</div>
							</div>
						</div>
						<div class="col col-2">
							<div class="lqd-imggrp-single block relative">
								<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
									<figure class="w-full relative">
										<img width="85" height="25" src="./assets/images/demo/start-hub-3/metin-is-logo.png" alt="client">
									</figure>
								</div>
							</div>
						</div>
						<div class="col col-2">
							<div class="lqd-imggrp-single block relative">
								<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
									<figure class="w-full relative">
										<img width="74" height="36" src="./assets/images/demo/start-hub-3/amazon-logo.png" alt="client">
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>						<!-- End Testimonials -->
			<!-- Start Faq -->
		<section class="lqd-section faq bg-white transition-all pt-50 pb-90">
			<div class="container">
				<div class="row">
					<div class="col col-12 text-center">
						<div class="mb-25 lqd-imggrp-single block relative">
							<div class="lqd-imggrp-img-container inline-flex relative items-center justify-center">
								<figure class="w-full relative">
									<img width="54" height="54" src="./assets/images/demo/start-hub-3/shape-Message-1.svg" alt="message icon">
								</figure>
							</div>
						</div>
						<div class="ld-fancy-heading relative" id="sss">
							<h2 class="ld-fh-element mb-0/5em inline-block relative text-slate-600">Sıkça Sorulan Sorular</h2>
						</div>
						<div class="ld-fancy-heading relative">
							<p class="ld-fh-element mb-0/5em inline-block relative text-18 text-text">Dönüşüm sağlayan mükemmel ve sağlam ürün deneyimleri oluşturmak için müşteri verilerini kullanın.</p>
						</div>
					</div>
					<div class="col col-12 p-0">
						<section class="lqd-section mt-60">
							<div class="container">
								<div class="row">
									<div class="col col-12 col-md-6 p-30">
										<div class="accordion accordion-md accordion-side-spacing accordion-title-circle accordion-expander-lg accordion-active-has-shadow accordion-active-has-fill" id="accordion-question-parent-1" role="tablist" aria-multiselectable="true">
											<div class="accordion-item panel mb-20 active">
												<div class="accordion-heading" role="tab" id="heading-tab-1">
													<h4 class="accordion-title">
														<a class="collapsed text-16 leading-2em bg-gray-100 " role="button" data-bs-toggle="collapse" href="#collapse-question-tab-1" aria-expanded="true" aria-controls="collapse-question-tab-1">
															<span class="accordion-title-txt">Firmanız hangi hizmetleri sunuyor?</span>
															<span class="text-22 text-brown-500 accordion-expander">
																<i class="lqd-icn-ess icon-ion-ios-add"></i>
																<i class="lqd-icn-ess icon-ion-ios-remove"></i>
															</span>
														</a>
													</h4>
												</div>
												<div id="collapse-question-tab-1" class="accordion-collapse collapse show" role="tabpanel" aria-labelledby="heading-tab-1" data-bs-parent="#accordion-question-parent-1">
													<div class="text-15 accordion-content">Firmamız yapay zeka çözümleri, büyük veri analitiği, mobil uygulama geliştirme, CRM ve web tasarımı gibi birçok hizmet sunmaktadır. </div>
												</div>
											</div>
											<div class="accordion-item panel mb-20">
												<div class="accordion-heading" role="tab" id="heading-tab-2">
													<h4 class="accordion-title">
														<a class="collapsed text-16 leading-2em bg-gray-100 " role="button" data-bs-toggle="collapse" href="#collapse-question-tab-2" aria-expanded="false" aria-controls="collapse-question-tab-2">
															<span class="accordion-title-txt">Yapay zeka çözümleri neleri içeriyor?</span>
															<span class="text-22 text-brown-500 accordion-expander">
																<i class="lqd-icn-ess icon-ion-ios-add"></i>
																<i class="lqd-icn-ess icon-ion-ios-remove"></i>
															</span>
														</a>
													</h4>
												</div>
												<div id="collapse-question-tab-2" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="heading-tab-2" data-bs-parent="#accordion-question-parent-1">
													<div class="text-15 accordion-content">Yapay zeka alanında, müşterilerimize özelleştirilmiş çözümler sunuyoruz. Makine öğrenimi, doğal dil işleme, görüntü tanıma ve tahminleme analitiği gibi alanlarda uzmanlaşmış ekibimizle birlikte çeşitli yapay zeka projeleri geliştiriyoruz. </div>
												</div>
											</div>
											<div class="accordion-item panel mb-20">
												<div class="accordion-heading" role="tab" id="heading-tab-3">
													<h4 class="accordion-title">
														<a class="collapsed text-16 leading-2em bg-gray-100 " role="button" data-bs-toggle="collapse" href="#collapse-question-tab-3" aria-expanded="false" aria-controls="collapse-question-tab-3">
															<span class="accordion-title-txt">Bigdata analitiği nasıl yardımcı olabilir?</span>
															<span class="text-22 text-brown-500 accordion-expander">
																<i class="lqd-icn-ess icon-ion-ios-add"></i>
																<i class="lqd-icn-ess icon-ion-ios-remove"></i>
															</span>
														</a>
													</h4>
												</div>
												<div id="collapse-question-tab-3" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="heading-tab-3" data-bs-parent="#accordion-question-parent-1">
													<div class="text-15 accordion-content">Bigdata analitiği, işletmelerin veri tabanlarında bulunan büyük miktarlardaki verileri analiz ederek değerli içgörüler elde etmelerini sağlar. Firmamız, müşterilerimizin bu verilerden maksimum faydayı sağlaması için analiz ve raporlama hizmetleri sunmaktadır. </div>
												</div>
											</div>
											<div class="accordion-item panel">
												<div class="accordion-heading" role="tab" id="heading-tab-4">
													<h4 class="accordion-title">
														<a class="collapsed text-16 leading-2em bg-gray-100 " role="button" data-bs-toggle="collapse" href="#collapse-question-tab-4" aria-expanded="false" aria-controls="collapse-question-tab-4">
															<span class="accordion-title-txt">Mobil uygulama geliştirme süreci nasıl işler?</span>
															<span class="text-22 text-brown-500 accordion-expander">
																<i class="lqd-icn-ess icon-ion-ios-add"></i>
																<i class="lqd-icn-ess icon-ion-ios-remove"></i>
															</span>
														</a>
													</h4>
												</div>
												<div id="collapse-question-tab-4" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="heading-tab-4" data-bs-parent="#accordion-question-parent-1">
													<div class="text-15 accordion-content">Mobil uygulama geliştirme sürecimiz, ihtiyaçlarınıza ve hedeflerinize yönelik olarak tasarlanmıştır. Analiz, tasarım, geliştirme, test ve yayınlama aşamalarını içerir. Her aşama danda daha fazla bilgi almak için lütfen bizimle iletişime geçin. </div>
												</div>
											</div>
										</div>
									</div>
									<div class="col col-12 col-md-6 p-30">
										<div class="accordion accordion-md accordion-side-spacing accordion-title-circle accordion-expander-lg accordion-active-has-shadow accordion-active-has-fill" id="accordion-question-parent-2" role="tablist" aria-multiselectable="true">
											<div class="accordion-item panel mb-20">
												<div class="accordion-heading" role="tab" id="heading-tab-5">
													<h4 class="accordion-title">
														<a class="collapsed text-16 leading-2em bg-gray-100 " role="button" data-bs-toggle="collapse" href="#collapse-question-tab-5" aria-expanded="false" aria-controls="collapse-question-tab-5">
															<span class="accordion-title-txt">CRM sistemleri nasıl işletmelere fayda sağlar?</span>
															<span class="text-22 text-brown-500 accordion-expander">
																<i class="lqd-icn-ess icon-ion-ios-add"></i>
																<i class="lqd-icn-ess icon-ion-ios-remove"></i>
															</span>
														</a>
													</h4>
												</div>
												<div id="collapse-question-tab-5" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="heading-tab-5" data-bs-parent="#accordion-question-parent-2">
													<div class="text-15 accordion-content">CRM sistemleri, müşteri ilişkilerini yönetmek, satışları artırmak, müşteri sadakatini güçlendirmek ve iş süreçlerini iyileştirmek için kullanılır. Firmamız, müşterilerimize ihtiyaçlarına uygun özelleştirilmiş CRM çözümleri sunmaktadır.</div>
												</div>
											</div>
											<div class="accordion-item panel mb-20">
												<div class="accordion-heading" role="tab" id="heading-tab-6">
													<h4 class="accordion-title">
														<a class="collapsed text-16 leading-2em bg-gray-100 " role="button" data-bs-toggle="collapse" href="#collapse-question-tab-6" aria-expanded="false" aria-controls="collapse-question-tab-6">
															<span class="accordion-title-txt">Web tasarım sürecinizde e-ticaret entegrasyonu nasıl gerçekleştiriliyor?</span>
															<span class="text-22 text-brown-500 accordion-expander">
																<i class="lqd-icn-ess icon-ion-ios-add"></i>
																<i class="lqd-icn-ess icon-ion-ios-remove"></i>
															</span>
														</a>
													</h4>
												</div>
												<div id="collapse-question-tab-6" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="heading-tab-6" data-bs-parent="#accordion-question-parent-2">
													<div class="text-15 accordion-content">
														E-ticaret entegrasyonu, işletmenin ihtiyaçlarına uygun bir platform seçerek, kullanıcı dostu bir arayüz tasarlayarak, ürün kataloglarını oluşturarak ve güvenli ödeme sistemleri entegre ederek gerçekleştirilir. Sonrasında, web sitesi test edilir ve yayına alınır.

													</div>
												</div>
											</div>
											<div class="accordion-item panel">
												<div class="accordion-heading" role="tab" id="heading-tab-7">
													<h4 class="accordion-title">
														<a class="collapsed text-16 leading-2em bg-gray-100 " role="button" data-bs-toggle="collapse" href="#collapse-question-tab-7" aria-expanded="false" aria-controls="collapse-question-tab-7">
															<span class="accordion-title-txt">Firmanızın sunduğu hizmetler için nasıl fiyatlandırma yapılır?</span>
															<span class="text-22 text-brown-500 accordion-expander">
																<i class="lqd-icn-ess icon-ion-ios-add"></i>
																<i class="lqd-icn-ess icon-ion-ios-remove"></i>
															</span>
														</a>
													</h4>
												</div>
												<div id="collapse-question-tab-7" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="heading-tab-7" data-bs-parent="#accordion-question-parent-2">
													<div class="text-15 accordion-content">
														Hizmetlerimizin fiyatlandırması genellikle projenin kapsamına, karmaşıklığına ve müşterinin özel taleplerine bağlıdır. Size özel bir teklif almak için lütfen bizimle iletişime geçin.




													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="col col-12">
						<div class="flex flex-wrap justify-center items-center pt-30">
							<div class="mr-25 px-15 rounded-100 bg-brown-300 ld-fancy-heading relative">
								<p class="text-15 font-normal text-brown-500 m-0 ld-fh-element relative">İletişim</p>
							</div>
							<div class="ld-fancy-heading relative">
								<p class="text-15 m-0 ld-fh-element relative">Kurumsal bir çözüm mü arıyorsunuz? <a href="https://wa.me/+905076758399" target="_blank" class="underline">Bize ulaşın.</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
			<!-- End Faq -->

		</div>
	</main>


